Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

サブルーチンローカルな変数
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ForEachCmd.cs
  SRC.Sharp/SRCCore/Events/Event.variable.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

Local/Global変数のForeach
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ForEachCmd.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/Events/Event.variable.cs
  SRC.Sharp/SRCCore/Extensions/VarDataExtension.cs
Labels: SRCCore

ForEachユニット、パイロット
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ForEachCmd.cs
  SRC.Sharp/SRCCore/Extensions/StringExtension.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
  SRC.Sharp/SRCCore/Units/UnitWeaponList.cs
Labels: SRCCore

InsideKakkoTest
  SRC.Sharp/SRCCoreTests/Extensions/StringExtensionTests.cs
Labels: none

Fix ExpressionTests
  SRC.Sharp/SRCCore/Events/Event.variable.cs
Labels: SRCCore

添え字を取得しないテストケース
  SRC.Sharp/SRCCoreTests/Extensions/StringExtensionTests.cs
Labels: none

UpVarCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/UpVarCmd.cs
Labels: SRCCore

Local変数
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/CallCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/LocalCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ReturnCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.data2.cs
  SRC.Sharp/SRCCore/Events/Event.variable.cs
  SRC.Sharp/SRCCore/Expressions/VarData.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

Fix CallStack
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ReturnCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.handle.cs
  SRC.Sharp/SRCCore/Events/Event.variable.cs
Labels: SRCCore

Fix Local多項代入
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/LocalCmd.cs
Labels: SRCCore

Unit#sp
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.sp.cs
Labels: SRCCore

SP使う外側。
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
  SRC.Sharp/SRCCore/Models/SkillData.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.sp.cs
Labels: SRCCore

SPえらべる。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

IsEffectAvailable
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerDataList.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.sp.cs
Labels: SRCCore

totyuu
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
Labels: SRCCore

Argxx置き換える
  tools/ReplaceArgx/Program.cs
  tools/ReplaceArgx/ReplaceArgx.csproj
Labels: none

全部置換する
  tools/ReplaceArgx/Program.cs
Labels: none

コメント対応
  tools/ReplaceArgx/Program.cs
Labels: none

コンパイル通す
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

ignore
  tools/.gitignore
Labels: none

指定ミスなおしたりなど。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
  SRC.Sharp/SRCCore/Events/Event.handle.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
  SRC.Sharp/SRCCore/Units/Unit.sp.cs
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRCCore, SRC#Form

雰囲気ド根性した。
  SRC.Sharp/SRCCore/Models/PilotData.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form

加速が効く。
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/Unit.sp.cs
Labels: SRCCore

EN
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
Labels: SRCCore

メッセージのシチュエーション
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCCore/Models/MassageDataList.cs
  SRC.Sharp/SRCCore/Models/MessageData.cs
Labels: SRCCore

メッセージ選択とか
  SRC.Sharp/SRCCore/Extensions/SituationExtension.cs
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Models/Dialog.cs
  SRC.Sharp/SRCCore/Models/DialogData.cs
  SRC.Sharp/SRCCore/Models/DialogDataList.cs
  SRC.Sharp/SRCCore/Models/MessageData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.message.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

ダイアログ選択。
  SRC.Sharp/SRCCore/Extensions/SituationExtension.cs
  SRC.Sharp/SRCCore/Models/Dialog.cs
  SRC.Sharp/SRCCore/Models/DialogData.cs
  SRC.Sharp/SRCCore/Models/MessageData.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.message.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

なんぼかメッセージ再生
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.sp.cs
Labels: SRCCore

少し戦闘のメッセージ
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

Update Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
Labels: SRCCore

Update package
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

Pilotの画像を出す。
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Create nuget.config
  SRC.Sharp/nuget.config
Labels: none

変形とかメッセージ。
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
Labels: SRCCore

テレポートとジャンプの準備
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitmove.cs
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
Labels: SRCCore

テレポートしてジャンプ。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitmove.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

animeもってきた。
  SRC.Sharp/SRCCore/Units/Unit.anime.cs
Labels: SRCCore

コンパイル通す。
  SRC.Sharp/SRCCore/Events/Event.draw.cs
  SRC.Sharp/SRCCore/Units/Unit.anime.cs
Labels: SRCCore

アニメ準備。
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Call.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCore/SRC.data.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

Args
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Args.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Call.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
