Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Update UnitDataListView.razor
  SRC.Sharp/SRCTestBlazor/Shared/UnitDataListView.razor
Labels: SRCTestBlazor

フォルダ分け。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClearPictureCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintPictureCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintStringCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/RedrawCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/RefreshCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Talk/SuspendCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangeModeCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangePartyCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/CreateCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/FinishCmd.cs
Labels: SRCCore

フォルダをヘルプのグルーピングに。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/AIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/CallCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ElseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ElseIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/EndIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/IfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ReturnCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/SwitchCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/ExitCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeMapCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/CenterCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/ContinueCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SetCmd.cs
Labels: SRCCore

ステージ系コマンド。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/GameClearCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/GameOverCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/QuitCmd.cs
Labels: SRCCore

Clear/RestoreEventCmd持ってきた。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/ClearEventCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/RestoreEventCmd.cs
Labels: SRCCore

Clear/RestoreEvent
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/ClearEventCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/RestoreEventCmd.cs
Labels: SRCCore

CancelCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/CancelCmd.cs
Labels: SRCCore

攻撃イベントを発生させる。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
Labels: SRCCore

攻撃後イベントを発生させる。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
Labels: SRCCore

使用後も。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
Labels: SRCCore

攻撃イベント処理する。
  SRC.Sharp/SRCCore/Events/Handle.cs
  SRC.Sharp/SRCCore/Events/Label.cs
Labels: SRCCore

SearchLabelは全部検索する。
  SRC.Sharp/SRCCore/Events/Label.cs
Labels: SRCCore

簡単にハンドルできるイベントはハンドルしておく。
  SRC.Sharp/SRCCore/Events/Handle.cs
Labels: SRCCore

MoveCmdもってきた。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MoveCmd.cs
Labels: SRCCore

EraseUnitBitmap
  SRC.Sharp/SRCTestForm/Forms/Main.gui.cs
  SRC.Sharp/SRCTestForm/frmMain.gui.cs
Labels: SRC#Form

移動時に元の位置のユニット消す。
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

MoveUnitBitmap持ってきた。
  SRC.Sharp/SRCTestForm/Forms/Main.gui.cs
  SRC.Sharp/SRCTestForm/frmMain.gui.cs
Labels: SRC#Form

MoveCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MoveCmd.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCTestForm/Forms/Main.gui.cs
Labels: SRCCore, SRC#Form

MoveUnitBitmap2持ってきた。
  SRC.Sharp/SRCTestForm/Forms/Main.gui.cs
Labels: SRC#Form

MoveUnitBitmap2
  SRC.Sharp/SRCTestForm/Forms/Main.gui.cs
Labels: SRC#Form

MoveUnitBitmap2
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

MoveAnimation しとく。
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

移動力の処理、と思ったけれどユニットの位置弄ってなかった。
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

StandBy時のエリア。
  SRC.Sharp/SRCCore/Units/Unit.action.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

Switchでやる
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
Labels: SRCCore

エリア移動。
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
Labels: SRCCore

エリア移動コマンド。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
Labels: SRCCore

ユニットコマンドのファイルを割った。
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Commands/Command.unitxxx.cs
Labels: SRCCore

ユニットのBGM鳴らす。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCTestForm/frmMain.gui.cs
Labels: SRCCore, SRC#Form

SharForm向けのプロジェクト追加。
  SRC.Sharp/SRC.Sharp.sln
  SRC.Sharp/SRCSharpForm/Form1.Designer.cs
  SRC.Sharp/SRCSharpForm/Form1.cs
  SRC.Sharp/SRCSharpForm/Form1.resx
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: none

TestForm->SharpForm に諸々移動した。
  SRC.Sharp/SRCSharpForm/Assets/.gitignore
  SRC.Sharp/SRCSharpForm/Assets/Data/System/alias.txt
  SRC.Sharp/SRCSharpForm/Assets/Data/System/sp.txt
  SRC.Sharp/SRCSharpForm/Assets/Data/System/terrain.txt
  SRC.Sharp/SRCSharpForm/Assets/Data/include.eve
  SRC.Sharp/SRCSharpForm/Extensions/PictureBoxExtension.cs
  SRC.Sharp/SRCSharpForm/FormLib/SrcScrollBar.cs
  SRC.Sharp/SRCSharpForm/FormLib/SrcTreeNode.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.resX
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.gui.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.resx
  SRC.Sharp/SRCSharpForm/Forms/Message.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.resX
  SRC.Sharp/SRCSharpForm/Forms/NowLoading.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/NowLoading.cs
  SRC.Sharp/SRCSharpForm/Forms/NowLoading.resX
  SRC.Sharp/SRCSharpForm/Forms/Title.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Title.cs
  SRC.Sharp/SRCSharpForm/Forms/Title.resX
  SRC.Sharp/SRCSharpForm/Resoruces/ImageBuffer.cs
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCSharpForm/frmMain.cs
  SRC.Sharp/SRCSharpForm/frmMain.gui.bitmap.cs
  SRC.Sharp/SRCSharpForm/frmMain.gui.cs
Labels: none

テストフォーム整備
  SRC.Sharp/SRCTestForm/frmMain.Designer.cs
  SRC.Sharp/SRCTestForm/frmMain.cs
Labels: SRC#Form

ネームスペース
  SRC.Sharp/SRCSharpForm/Extensions/PictureBoxExtension.cs
  SRC.Sharp/SRCSharpForm/FormLib/SrcScrollBar.cs
  SRC.Sharp/SRCSharpForm/FormLib/SrcTreeNode.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.gui.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.cs
  SRC.Sharp/SRCSharpForm/Forms/NowLoading.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/NowLoading.cs
  SRC.Sharp/SRCSharpForm/Forms/Title.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Title.cs
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/Resoruces/ImageBuffer.cs
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.ico
  SRC.Sharp/SRCSharpForm/frmMain.cs
  SRC.Sharp/SRCSharpForm/frmMain.gui.bitmap.cs
  SRC.Sharp/SRCSharpForm/frmMain.gui.cs
Labels: none

コンパイル通す。
  SRC.Sharp/SRCSharpForm/Form1.cs
  SRC.Sharp/SRCSharpForm/Form1.resx
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.Designer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.resx
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
  SRC.Sharp/SRCSharpForm/frmMain.cs
Labels: none

イベント呼んで動くレベルに。
  SRC.Sharp/SRCCore/Events/EventData.cs
  SRC.Sharp/SRCCore/Events/Label.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.Designer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.resx
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCTestForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
