Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

ExpDamage とちゅうう
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

ExpDamage
  SRC.Sharp/SRCCore/Units/Unit.attackcheck.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

Unit Status Adaption
  SRC.Sharp/SRCCore/Units/Unit.status.cs
Labels: SRCCore

Fix 地形適応命中率修正
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

システムメッセージの表示時には既定の余白を取っておく
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

途中
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

percy
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/support/index.js
  SRC.Sharp/SRCTestBlazor/E2E/package-lock.json
  SRC.Sharp/SRCTestBlazor/E2E/package.json
Labels: SRCTestBlazor

PERCY_TOKEN
  .github/workflows/CD-pages.yml
Labels: none

percy/exec-action
  .github/workflows/CD-pages.yml
Labels: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

Fix exec-flags
  .github/workflows/CD-pages.yml
Labels: none

exec-flags: --record は percy コマンドのオプションじゃん。
  .github/workflows/CD-pages.yml
Labels: none

警告出てた場所違った
  .github/workflows/CD-pages.yml
Labels: none

fallback-routes
  SRC.Sharp/SRCTestBlazor/wwwroot/staticwebapp.config.json
Labels: SRCTestBlazor

Cypress static web apps
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
  SRC.Sharp/SRCTestBlazor/E2E/cypress.azurestaticweb.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress.githubpages.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

get Cypress config
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Fix error message.
  SRC.Sharp/SRCTestBlazor/wwwroot/index.html
Labels: SRCTestBlazor

反撃の選択
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

ListExtensionTests
  SRC.Sharp/SRCCoreTests/Extensions/ListExtensionTests.cs
Labels: none

武器BGMなど
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
Labels: SRCCore

テストのBASEURL
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

出力の参照試し
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Try CYPRESS_BASE_URL
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
  SRC.Sharp/SRCTestBlazor/E2E/cypress.azurestaticweb.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress.githubpages.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Fix visit
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

configFile=githubpages
  .github/workflows/CD-pages.yml
Labels: none

ビルドをdotnetコマンドでやってみる
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

skip_app_build
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

構成ファイル読むの面倒臭そうなのでやめる。
  .github/workflows/CD-pages.yml
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
  SRC.Sharp/SRCTestBlazor/E2E/cypress.azurestaticweb.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress.githubpages.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
Labels: SRCTestBlazor

テストとデプロイを切り出した。
  .github/workflows/CD-pages.yml
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

Blazor アプリのビルドをStatic Web AppsデプロイのActions任せるように戻しておく。
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

GitHub Pages向けの構成を切り出す
  .github/workflows/CD-pages.yml
  SRC.Sharp/SRCTestBlazor/wwwroot/index.ghp.html
Labels: SRCTestBlazor

index.html の処理をGitHub Pages向けからそうでないものに。
  SRC.Sharp/SRCTestBlazor/wwwroot/index.html
Labels: SRCTestBlazor

ワークフローファイルの掃除
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

Fix cypres timeout
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

timeout 対象間違ってた。
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

timeout どこでしてるか分からんので結局グローバルに設定した
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

ロード時間はどうせ見切れているしリグレッションするくらいなら消しておく。
  SRC.Sharp/SRCTestBlazor/Pages/LoadDataPage.razor
  SRC.Sharp/SRCTestBlazor/Shared/LoadTitleView.razor
Labels: SRCTestBlazor

attackの穴埋め
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
Labels: SRCCore

MapAttackじゅんび
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

IncreaseMorale
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/IncreaseMoraleCmd.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
