Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

get_Bitmap
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

Info 特殊能力名称
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Models/FeatureData.cs
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/PilotData.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

akita
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

エイリアスの参照
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Pilot.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/Unit.cs
  SRC.Sharp/SRCCore/Models/AliasData.cs
Labels: SRCCore

Fix encoding.
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/FixCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/JoinCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LeaveCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ReleaseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/CopyArrayCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/GlobalCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SortCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SwapCmd.cs
  SRC.Sharp/SRCCore/Events/Event.cs
  SRC.Sharp/SRCCore/Expressions/Functions/File.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Expressions/Functions/List.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Paint.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Pilot.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Regex.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/Unit.cs
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCSharpForm/RootForm.Designer.cs
Labels: SRCCore, SRC#Form

charset = utf-8
  SRC.Sharp/.editorconfig
Labels: none

using
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SortCmd.cs
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Pilot.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Time.cs
  SRC.Sharp/SRCCore/Extensions/SystemConfigExtension.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

特殊能力レベル 特殊能力データ
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

特殊能力必要技能
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

特殊能力解説 horyuu
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

InterMission
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

オプションとか。
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCCore/Extensions/StringExtension.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Models/TerrainData.cs
Labels: SRCCore

ビットマップ名
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

最大攻撃、射程
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

アビリティ1
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
  SRC.Sharp/SRCCore/Items/Item.cs
Labels: SRCCore

アビリティ
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

WeaponData
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

武器
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

Fix error
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

ReplaceNewLineTest
  SRC.Sharp/SRCCoreTests/Extensions/StringExtensionTests.cs
Labels: none

Register Info
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
Labels: SRCCore

Fix info params
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

Fix UnSetCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
Labels: SRCCore

イベント処理のコメントアウトなんぼか処理
  SRC.Sharp/SRCCore/Events/Event.cs
  SRC.Sharp/SRCCore/Events/Event.handle.cs
Labels: SRCCore

DoEvent
  SRC.Sharp/SRCCore/Events/Event.handle.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

ResetFont
  SRC.Sharp/SRCCore/Events/Event.handle.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

Fix HandleEvent
  SRC.Sharp/SRCCore/Events/Event.handle.cs
Labels: SRCCore

Fix 定義されていない要素を使って配列を読み出した場合は空文字列を返す
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

GetVariableObject に切り出し
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

GetVariableObject
  SRC.Sharp/SRCCore/Expressions/Expression.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

FIx Left
  SRC.Sharp/SRCCore/VB/Strings.cs
Labels: SRCCore

Trace Variable
  SRC.Sharp/SRCCore/Expressions/Variable.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRCCore, SRC#Form

Fix Ref UndefinedType
  SRC.Sharp/SRCCore/Expressions/VarData.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

Fix call args
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/CallCmd.cs
Labels: SRCCore

Fix wy
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/XY.cs
Labels: SRCCore

Trace call
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Call.cs
Labels: SRCCore

変数値設定
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/LocalCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/ArrayCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/CopyArrayCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SwapCmd.cs
  SRC.Sharp/SRCCore/Expressions/VarData.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

変数の初期化
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/ArrayCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/CopyArrayCmd.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

不明値の参照は参照側の指定した型でいいでしょ。
  SRC.Sharp/SRCCoreTests/Expressions/ExpressionTests.cs
Labels: none

Trace user func args
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Call.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
