Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

PictureboxっぽいGraphicsラッパー
  SRC.Sharp/SRCSharpForm/Lib/Printer.cs
Labels: SRC#Form

なんぼか置換
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

なんぼか実装
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRCCore, SRC#Form

GC1
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

GC2
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

Log
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRCCore, SRC#Form

Unit Skill
  SRC.Sharp/SRCCore/Models/AliasDataList.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

ステーたっすのコンパイル通す
  SRC.Sharp/SRCCore/Constants.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRCCore, SRC#Form

余白の処理
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Lib/Printer.cs
Labels: SRC#Form

MeasureStringの→余白カット
  SRC.Sharp/SRCSharpForm/Extensions/GraphicsExtension.cs
  SRC.Sharp/SRCSharpForm/Lib/Printer.cs
Labels: SRC#Form

Fix 余白量
  SRC.Sharp/SRCSharpForm/Extensions/GraphicsExtension.cs
Labels: SRC#Form

Fix MeasureStringWithoutRightMargin に空文字列でマイナス
  SRC.Sharp/SRCSharpForm/Extensions/GraphicsExtension.cs
Labels: SRC#Form

Fix メッセージの余白
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

備忘
  SRC.Sharp/SRCSharpForm/Extensions/GraphicsExtension.cs
Labels: SRC#Form

武器一覧
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

StrDup
  SRC.Sharp/SRCCore/VB/Strings.cs
Labels: SRCCore

アビリティ一覧
  SRC.Sharp/SRCSharpForm/Extensions/GraphicsExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

予測ダメージ
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Lib/Printer.cs
Labels: SRCCore, SRC#Form

SJISを読めるようにしておく
  SRC.Sharp/SRCCore/Config/LocalFileConfig.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Extensions/FileSystemExtension.cs
  SRC.Sharp/SRCCore/ISystemConfig.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Models/AliasDataList.cs
  SRC.Sharp/SRCCore/Models/BattleConfigDataList.cs
  SRC.Sharp/SRCCore/Models/DialogDataList.cs
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
  SRC.Sharp/SRCCore/Models/MassageDataList.cs
  SRC.Sharp/SRCCore/Models/NonPilotDataList.cs
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerDataList.cs
  SRC.Sharp/SRCCore/Models/TerrainDataList.cs
  SRC.Sharp/SRCCore/Models/UnitDataList.cs
  SRC.Sharp/SRCCore/SRCCore.csproj
Labels: SRCCore

FIx バージョンで見るアセンブリが実行ファイルのじゃなかった。
  SRC.Sharp/SRCCore/SRC.util.cs
Labels: SRCCore

Fix ユニット名にパイロット名出してた
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

Nullチェックしとく
  SRC.Sharp/SRCCore/VB/Strings.cs
Labels: SRCCore

Units.Update
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

Fix Ask終了
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

GetOff
  SRC.Sharp/SRCCore/Pilots/Pilot.unit.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

Fix Pilot, PilotIDはユニット、ユニットIDを見る
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/Unit.cs
Labels: SRCCore

Fix 真偽値
  SRC.Sharp/SRCCore/Expressions/Functions/AFunction.cs
Labels: SRCCore

FadeInCmd持ってきた
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FadeInCmd.cs
Labels: SRCCore

FadeInCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FadeInCmd.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

その他のフェード
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FadeInCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FadeOutCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/WhiteInCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/WhiteOutCmd.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Fix モック
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
Labels: SRCDataLinter

（多分）Shift_JISからUTF-8への変換要らなくなった。
  README.md
Labels: none

Update README.md
  README.md
Labels: none

System.Runtime.Caching MemoryCache を使う。
  SRC.Sharp/SRCSharpForm/Resoruces/ImageBuffer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

ZIPを読んでみる
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

標準のアセットを固めてみた（コミットはしてない）
  .gitignore
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

Assets消しておく
  SRC.Sharp/SRCSharpForm/Assets/Data/System/alias.txt
  SRC.Sharp/SRCSharpForm/Assets/Data/System/sp.txt
  SRC.Sharp/SRCSharpForm/Assets/Data/System/terrain.txt
  SRC.Sharp/SRCSharpForm/Assets/Data/include.eve
Labels: SRC#Form

アーカイブ化仕込み失敗
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Models/MassageDataList.cs
  SRC.Sharp/SRCCore/SRC.data.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Sound.cs
  SRC.Sharp/SRCCore/Statuses/Status.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.ref.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/GUI.ref.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form

取り合えず標準のアセットをアーカイブから読めるようになったはず
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRCCore, SRC#Form

Update index.md
  SRC.Sharp/Help/md/index.md
Labels: none
