Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

Fix EmptyMapFile
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

セーブに手を付けた。
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

シリアライズの調整
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

セーブ拡張子
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

CollectionをDeserializeできるように
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

パイロット、ユニットシリアライズできるように
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/Pilots/Pilots.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

ユニットのリンク情報をシリアライズ
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
Labels: SRCCore

ロードの整理。
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
Labels: SRCCore

セーブファイルの種類など処理。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRCCore, SRC#Form

中断向けにインタフェース整理
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

中断
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
Labels: SRCCore

マップを保存。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Lib/D2Array.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Maps/MapCell.cs
  SRC.Sharp/SRCCore/Models/TerrainData.cs
  SRC.Sharp/SRCCore/Models/TerrainDataList.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
Labels: SRCCore

Fix name
  SRC.Sharp/SRCCore/Units/Unit.cs
Labels: SRCCore

Confirm
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

セーブの要素は揃ったかな。
  SRC.Sharp/SRCCore/Events/Event.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

Fix quikload.
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.label.cs
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

Fix save class name.
  SRC.Sharp/SRCCore/Events/Event.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

Fix save dir check.
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

BGMのセーブ/ロード
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

自動反撃モードのチェックできるように。
  SRC.Sharp/SRCCore/Commands/Command.cs
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/UiCommand.cs
  SRC.Sharp/SRCCore/Extensions/SystemConfigExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
Labels: SRCCore, SRC#Form

AutoDefenseの参照を置換しておく。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Config/LocalFileConfig.cs
  SRC.Sharp/SRCCore/Expressions/Expression.info.cs
  SRC.Sharp/SRCCore/ISystemConfig.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

自動反撃モード切り替えたら保存しておく。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

全体マップ
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

変数操作コマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/ArrayCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/CopyArrayCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/GlobalCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SortCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SwapCmd.cs
Labels: SRCCore

Itemコマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/EquipCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/FixCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/ItemCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/ReleaseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/RemoveItemCmd.cs
Labels: SRCCore

ユニット操作コマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/CombineCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/DestroyCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/DisableCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/EnableCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/EscapeCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ExchangeItemCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/JoinCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LandCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LeaveCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MapAbilityCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MapAttackCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/OrganizeCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RankUpCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RecoverENCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RecoverHPCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RemoveUnitCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SelectCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SelectTargetCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetBulletCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetMessageCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetStatusCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetStockCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ShowUnitStatusCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SpecialPowerCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SplitCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/StopSummoningCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SupplyCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/TransformCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UpgradeCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UseAbilityCmd.cs
Labels: SRCCore

パイロット操作コマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/ClearSkillCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/ExpUpCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/FixCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/GetOffCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/IncreaseMoraleCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/LeaveCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/LevelUpCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RecoverPlanaCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RecoverSPCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RemovePilotCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/ReplacePilotCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/SetRelationCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/SetSkillCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ReleaseCmd.cs
Labels: SRCCore

Fix 競合コマンドの配置
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/FixCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/FixCmd.cs
Labels: SRCCore

分類を備忘
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/FixCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/JoinCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LeaveCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ReleaseCmd.cs
Labels: SRCCore

画面操作コマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ArcCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/CircleCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClearObjCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClsCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ColorCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/DrawOptionCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/DrawWidthCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ExplodeCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FadeInCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FadeOutCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FillColorCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FillStyleCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FontCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/HideCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/HotPointCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/LineCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/OvalCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PSetCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PolygonCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ShowCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/TelopCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/WhiteInCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/WhiteOutCmd.cs
Labels: SRCCore

サウンドコマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Sound/RenameBGMCmd.cs
Labels: SRCCore

Flashコマンドの枠（実装はしないが。。。）
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/ClearFlashCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/PlayFlashCmd.cs
Labels: SRCCore

マップ操作コマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeTerrainCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ColorFilterCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/MonotoneCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/NightCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/NoonCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/SepiaCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/SunsetCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/WaterCmd.cs
Labels: SRCCore

テンプレート
  tools/Template/CmdTemplate.cs.txt
  tools/Template/Program.cs
  tools/Template/Template.csproj
Labels: none

その他コマンドの枠
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/ForgetCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/FreeMemoryCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/LoadCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MoneyCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/OptionCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/QuickLoadCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/RenameTermCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/RequireCmd.cs
Labels: SRCCore

ファイル操作コマンドの枠。
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CloseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CopyFileCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CreateFolderCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/LineReadCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/OpenCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/PrintCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RemoveFileCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RemoveFolderCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RenameFileCmd.cs
Labels: SRCCore

関数のディレクトリ移動
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Args.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Call.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/Unit.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/XY.cs
Labels: SRCCore

関数のひな型
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
Labels: SRCCore

ひな型生成したやつ
  tools/Template/FunctionTemplate.cs.txt
  tools/Template/Program.cs
Labels: none

実装済消した。
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
Labels: SRCCore
