Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Fix 多分消す
  SRC.Sharp/SRCCore/SRC.config.cs
Labels: SRCCore

TODOラベル
  SRC.Sharp/SRCCore/Units/Unit.attackcheck.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

Update PilotDataList.cs
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
Labels: SRCCore

Fix リスタートできない
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

ウィンドウのタイトルを設定
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

StartTurn 特に残なさそう
  SRC.Sharp/SRCCore/SRC.play.cs
Labels: SRCCore

ちょい整理
  SRC.Sharp/SRCCore/SRC.play.cs
Labels: SRCCore

SearchMidiFile
  SRC.Sharp/SRCCore/Sound.cs
Labels: SRCCore

ChangeBGM
  SRC.Sharp/SRCCore/Sound.cs
Labels: SRCCore

StartBGM
  SRC.Sharp/SRCCore/SRC.util.cs
  SRC.Sharp/SRCCore/Sound.cs
Labels: SRCCore

Fix ファイル出力例外処理
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/PrintCmd.cs
Labels: SRCCore

ファイル処理の例外はそのまま飛んでいいや イチイチ他のコマンドでも処理するのだるい。
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/PrintCmd.cs
Labels: SRCCore

Fix 戦闘アニメ実行中に発生したエラーの処理
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Events/Event.ui.cs
  SRC.Sharp/SRCCore/Events/EventDataLine.cs
Labels: SRCCore

Fix デバッグモードの設定
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

戦闘アニメの設定は設定として他所で読まれている。
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

要らんTODO
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

まだエラー出ないようになってないを様子見に
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

PathEquals
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

Fix 他のイベントファイルの読み込み時の除外
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

多分要らんTODO
  SRC.Sharp/SRCCore/Events/LabelData.cs
Labels: SRCCore

Fix DisplayEventErrorMessage
  SRC.Sharp/SRCCore/Events/LabelData.cs
Labels: SRCCore

備忘
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

Init Appium.WebDriver
  SRC.Sharp/SRC.Sharp.sln
  SRC.Sharp/SRCSharpFormTestWinAppDriver/Properties/AssemblyInfo.cs
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/UnitTest1.cs
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
Labels: none

Appium.WebDriver Package
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
Labels: none

Update package.
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
Labels: none

起動して終了するだけのテスト
  SRC.Sharp/SRCSharpFormTestWinAppDriver/ExecuteTest.cs
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormSession.cs
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/UnitTest1.cs
Labels: none

取り合えずHPではない。
  SRC.Sharp/SRCSharpFormTestWinAppDriver/Properties/AssemblyInfo.cs
Labels: none

WinAppDriverプロジェクトはWindowsターゲットなのでCIなどでビルドされないようにしておく
  SRC.Sharp/SRC.Sharp.sln
Labels: none

Update PaintStringコマンド.md
  SRC.Sharp.Help/src/PaintStringコマンド.md
Labels: none

without_cr
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintStringCmd.cs
Labels: SRCCore

Impl はしていそう
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
Labels: SRCCore

TODO
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
Labels: SRCCore

txtComment Visible
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

表示位置
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

SP回復
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
Labels: SRCCore

Animation
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
Labels: SRCCore

オブジェクト色等を記録しておく
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Units/Unit.anime.cs
  SRC.Sharp/SRCCore/Units/Unit.se.cs
Labels: SRCCore

Plana
  SRC.Sharp/SRCCore/Pilots/Pilot.plana.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.unit.cs
Labels: SRCCore

Plana
  SRC.Sharp/SRCCore/Pilots/Pilot.plana.cs
Labels: SRCCore

MaxPlana
  SRC.Sharp/SRCCore/Pilots/Pilot.plana.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
