Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

発進。
  SRC.Sharp/SRCCore/Commands/Command.launch.cs
Labels: SRCCore

インターミッションでゲーム終了できるように。
  SRC.Sharp/SRCCore/SRC.play.cs
Labels: SRCCore

HTMLのIndex
  SRC.Sharp/HelpWork/index.html
Labels: none

バイナリ要らない
  SRC.Sharp/HelpWork/SRC.HHP
  SRC.Sharp/HelpWork/SRC.chm
  SRC.Sharp/HelpWork/SRC.chw
Labels: none

キーワード競合をユニークにしておく。
  SRC.Sharp/HelpWork/html/00000095.htm
  SRC.Sharp/HelpWork/html/src2kza.htm
Labels: none

ヘルプのHTML変換するやつ。
  SRC.Sharp/HelpWork/HelpConverter/.gitignore
  SRC.Sharp/HelpWork/HelpConverter/HelpConverter.csproj
  SRC.Sharp/HelpWork/HelpConverter/HelpConverter.sln
  SRC.Sharp/HelpWork/HelpConverter/Program.cs
Labels: none

ざっくり変換
  SRC.Sharp/HelpWork/HelpConverter/HelpConverter.csproj
  SRC.Sharp/HelpWork/HelpConverter/Program.cs
Labels: none

リンクできてなかった。
  SRC.Sharp/HelpWork/HelpConverter/Program.cs
Labels: none

テキストの側に拡張子つけていた。
  SRC.Sharp/HelpWork/md/index.md
Labels: none

リンク先の解決見直す。
  SRC.Sharp/HelpWork/HelpConverter/Program.cs
Labels: none

Indexも
  SRC.Sharp/HelpWork/md/index.md
Labels: none

選択肢入力系コマンドのひな型。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/ConfirmCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/InputCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/QuestionCmd.cs
Labels: SRCCore

ConfirmCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/ConfirmCmd.cs
Labels: SRCCore

InputCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/InputCmd.cs
  SRC.Sharp/SRCCore/IGUI.cs
Labels: SRCCore

InputのUI
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/InputForm.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/InputForm.cs
  SRC.Sharp/SRCSharpForm/Forms/InputForm.resx
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form, SRCDataLinter

メッセージの変数展開しておく。
  SRC.Sharp/SRCCore/Expressions/ReplaceSubExpression.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Fix typo
  README.md
Labels: none

6janai
  README.md
Labels: none

ListBoxのサイズ。
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

FormatMessage
  SRC.Sharp/SRCCore/Expressions/Expression.replace.cs
Labels: SRCCore

書式１のAsk
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
Labels: SRCCore

選択変数
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

Fix 選択値
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
Labels: SRCCore

サクラ大戦熱はない。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/QuestionCmd.cs
Labels: SRCCore

Cmdのユーティリティメソッド。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
  SRC.Sharp/SRCCore/Events/EventDataLine.cs
Labels: SRCCore

単純なDo-Loop
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/DoCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/LoopCmd.cs
Labels: SRCCore

多分こう。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
Labels: SRCCore

Skip,Break Cmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/BreakCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/SkipCmd.cs
Labels: SRCCore

変形コマンド出す。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.other.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

変形コマンドのざっくり。
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/Unit.otherform.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

とりあえず変形した。
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

進入イベント
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Events/Event.handle.cs
Labels: SRCCore

Unit関数
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit.cs
Labels: SRCCore

Update README.md
  README.md
Labels: none

Fix warn
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/QuestionCmd.cs
Labels: SRCCore

Unit, Pilot, Ride.
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/PilotCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RideCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UnitCmd.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.unit.cs
Labels: SRCCore

LaunchCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LaunchCmd.cs
Labels: SRCCore

分離
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

分離。
  SRC.Sharp/SRCCore/Extensions/UnitsExtension.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

合体コマンド出る。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
Labels: SRCCore
