Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

update package
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRC#Form, SRCTestBlazor

Fix PUBLISH_DIR
  .github/workflows/CD-pages.yml
Labels: none

ツール群のターゲットフレームワークも.NET6にしておく
  SRC.Sharp.Help/AddJekyllHeader/AddJekyllHeader.csproj
  SRC.Sharp.Help/ExampleConv/ExampleConv.csproj
  SRC.Sharp.Help/HelpConverter/HelpConverter.csproj
  tools/ReplaceArgx/ReplaceArgx.csproj
  tools/Template/Template.csproj
  tools/ToMackerel/ToMackerel.csproj
Labels: none

typo
  .github/workflows/CD-pages.yml
Labels: none

update cypress
  SRC.Sharp/SRCTestBlazor/E2E/package-lock.json
  SRC.Sharp/SRCTestBlazor/E2E/package.json
Labels: SRCTestBlazor

cypress.config.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress.config.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

Fix spec file pattern
  SRC.Sharp/SRCTestBlazor/E2E/cypress.config.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/e2e/index.cy.js
Labels: SRCTestBlazor

update package
  SRC.Sharp/SRCTestBlazor/Npm/package-lock.json
  SRC.Sharp/SRCTestBlazor/Npm/package.json
Labels: SRCTestBlazor

rebuild css
  SRC.Sharp/SRCTestBlazor/wwwroot/css/app.css
Labels: SRCTestBlazor

Fix Releaseリンク先
  README.md
Labels: none

Create README.md
  SRC.Sharp/SRCDataLinter/README.md
Labels: SRCDataLinter

データの種類のチェックに優先順をつけた
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCDataLinter

Fix IsAscii
  SRC.Sharp/SRCCore/Extensions/CharExtension.cs
  SRC.Sharp/SRCCore/Extensions/SituationExtension.cs
Labels: SRCCore

Fix TODO out left_margin
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

Fix ２回行動条件
  SRC.Sharp/SRCCore/Units/Unit.action.cs
Labels: SRCCore

Fix dependabot alert
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
  SRC.Sharp/SRCTestForm/SRCTestForm.csproj
Labels: SRCCore, SRC#Form, SRCTestBlazor

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update labeler action and add checkout step
  .github/workflows/label.yml
Labels: none

Update label.yml to include job permissions
  .github/workflows/label.yml
Labels: none

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
