Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCTestForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*

数字フォーマット。
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataView.razor
Labels: SRCTestBlazor

アイテムのアビリティ出す。
  SRC.Sharp/SRCTestBlazor/Shared/AbilitiyDataListView.razor
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataView.razor
  SRC.Sharp/SRCTestBlazor/Shared/UnitDataView.razor
Labels: SRCTestBlazor

Blazorでもアイテムデータ読む。
  SRC.Sharp/SRCTestBlazor/Pages/LoadDataPage.razor
  SRC.Sharp/SRCTestBlazor/Shared/LoadTitleView.razor
Labels: SRCTestBlazor

アイテムの武器を出す。
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataView.razor
  SRC.Sharp/SRCTestBlazor/Shared/UnitDataView.razor
  SRC.Sharp/SRCTestBlazor/Shared/WeaponDataListView.razor
Labels: SRCTestBlazor

タイトル変えたときにアイテムもクリア。
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
  SRC.Sharp/SRCTestBlazor/Shared/LoadTitleView.razor
Labels: SRCCore, SRCTestBlazor

Item出す。
  SRC.Sharp/SRCTestBlazor/Models/SrcDataKind.cs
  SRC.Sharp/SRCTestBlazor/Shared/DataNavMenu.razor
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataListView.razor
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataView.razor
  SRC.Sharp/SRCTestBlazor/Shared/TitleView.razor
Labels: SRCTestBlazor

特殊能力のリスト外に出しておく。
  SRC.Sharp/SRCTestBlazor/Shared/FeatureDataListView.razor
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataView.razor
  SRC.Sharp/SRCTestBlazor/Shared/UnitDataView.razor
Labels: SRCTestBlazor

パイロットの参照のこっとった。
  SRC.Sharp/SRCTestBlazor/Shared/ItemDataListView.razor
Labels: SRCTestBlazor

Visual StudioのUIでseverityレベル変更するとeditorconfigが生える。
  SRC.Sharp/.editorconfig
  SRC.Sharp/SRC.Sharp.sln
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCTestForm/SRCTestForm.csproj
Labels: SRCCore, SRC#Form

Fix 到達できないコード。
  SRC.Sharp/SRCCore/Events/LabelData.cs
  SRC.Sharp/SRCTestForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form

Itemも検証する。
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: none

v0.1.4
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
Labels: SRCCore
