Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

0除算回避。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

破壊イベントをある程度起きるようにしておく。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Events/Handle.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
Labels: SRCCore

ステータスの画像をストレッチしておく。
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.resx
Labels: SRC#Form

Eventのファイル名。
  SRC.Sharp/SRCCore/Events/Event.handle.cs
  SRC.Sharp/SRCCore/Events/Event.label.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/Events/Event.ui.cs
Labels: SRCCore

Eventデータのもろもろもってきた。
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.ref.cs
  SRC.Sharp/SRCCore/SRCCore.csproj
Labels: SRCCore

GameOverできるように。
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.data2.cs
  SRC.Sharp/SRCCore/Events/EventData.cs
  SRC.Sharp/SRCCore/SRC.play.cs
Labels: SRCCore

UpdateMessageForm持ってきた。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

邪魔なのでいったんコメントアウトしておく。
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

メッセージウィンドウのユニットの枠。
  SRC.Sharp/SRCSharpForm/Forms/Message.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.resX
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

Expression#term持ってきた。
  SRC.Sharp/SRCCore/Expressions/Expression.term.cs
Labels: SRCCore

メッセージウィンドウのバー。
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCSharpForm/Extensions/PictureBoxExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

タブストップFalseにしたけれどHP/ENの表示何でTextBoxなの？
  SRC.Sharp/SRCSharpForm/Forms/Message.Designer.cs
Labels: SRC#Form

バー動かす呼び出し。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

なんか数字の更新うまくいってねー気がするけれどとりあえずこんなもんでしょ。
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

命中率仮計算してみる。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

パイロットの基本能力を処理。
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.status.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

PilotDataでSRC参照。
  SRC.Sharp/SRCCore/Models/PilotData.cs
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
Labels: SRCCore

パイロット特殊能力のエイリアスをとりあえず読んだ。多分。
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Models/PilotData.cs
Labels: SRCCore

パイロットステータスにスキルレベルを反映する。
  SRC.Sharp/SRCCore/Pilots/Pilot.status.cs
Labels: SRCCore

パイロット特殊能力の能力値修正を多分適用。
  SRC.Sharp/SRCCore/Pilots/Pilot.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.status.cs
Labels: SRCCore

武器攻撃力。
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

ダメージ以外の部分少し。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

気力とか。
  SRC.Sharp/SRCCore/Pilots/Pilot.other.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.plana.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.sp.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

命中判定の仮処理。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

Fix ListBoxのFlag
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Intermission.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

ざっくり反撃するように。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.cs
Labels: SRCCore

攻撃した時の破壊イベント。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
Labels: SRCCore

攻撃時の相手の先制攻撃処理。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
Labels: SRCCore

ダメージ無くても攻撃してくるように。
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Units/Unit.attribute.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

参照用のファイルもってくる。
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCCore/Units/Unit.ref.cs
Labels: SRCCore

搭載周りの処理持ってくる。
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.onboard.cs
Labels: SRCCore

破壊時の搭載ユニット破壊。
  SRC.Sharp/SRCCore/Events/Event.handle.cs
Labels: SRCCore

出撃時の搭載解除。
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

ユニットの搭載周り。
  SRC.Sharp/SRCCore/Units/Unit.onboard.cs
Labels: SRCCore

着艦できるようにする。
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.ref.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

eveも検証。
  SRC.Sharp/SRCCore/Events/Event.ui.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCCore, SRCDataLinter

Lint時は終了しても終了しないようにしておく。
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

v0.1.6
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRCCore, SRC#Form, SRCDataLinter

絶対パスで叩く。
  SRC.Sharp/SRCDataLinter/Dockerfile
Labels: SRCDataLinter

発進始めるまで。
  SRC.Sharp/SRCCore/Commands/Command.launch.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Commands/Command.unitxxx.cs
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
Labels: SRCCore
