Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Fix
  SRC.Sharp/SRCCore/Expressions/Functions/Args.cs
Labels: SRCCore

wx,wy
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/XY.cs
Labels: SRCCore

ユニット系システム変数。
  SRC.Sharp/SRCCore/Expressions/Expression.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

算術関数。
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Math.cs
Labels: SRCCore

IsNumeric
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

Variable
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

Incr,Unset.
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/IncrCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/UnSetCmd.cs
Labels: SRCCore

Fix argstack
  SRC.Sharp/SRCCore/Expressions/Functions/Call.cs
Labels: SRCCore

ToLowerしておく。
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

InStr
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

argnum
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

ToLower
  SRC.Sharp/SRCCore/Events/Event.variable.cs
Labels: SRCCore

LogDebug
  SRC.Sharp/SRCCore/Expressions/Functions/AFunction.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Args.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Call.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Math.cs
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit.cs
  SRC.Sharp/SRCCore/Expressions/Functions/XY.cs
Labels: SRCCore

Attack
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

Effect準備。
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

０パディング。
  SRC.Sharp/SRCCore/VB/SrcFormatter.cs
  SRC.Sharp/SRCCoreTests/VB/SrcFormatterTests.cs
Labels: SRCCore

コンパイル通す。
  SRC.Sharp/SRCCore/Effect.cs
Labels: SRCCore

Fix warn.
  SRC.Sharp/SRCCore/Units/Unit.anime.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

Effect呼び出し。動作確認はしてない。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.cs
  SRC.Sharp/SRCCore/Commands/Command.unitmove.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

置換壊れてるぞ。
  SRC.Sharp/SRCCore/Effect.cs
Labels: SRCCore

フォーマット。
  SRC.Sharp/SRCCore/Effect.cs
Labels: SRCCore

アイテム仕込み中。
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
Labels: SRCCore

Unitのアイテム途中。
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.item.cs
Labels: SRCCore

コンパイル通す。
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.item.cs
Labels: SRCCore

コンパイル通す
  SRC.Sharp/SRCCore/Items/Items.cs
Labels: SRCCore

コンパイル通す。
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
Labels: SRCCore

Config
  SRC.Sharp/SRCCore/Config/LocalFileConfig.cs
  SRC.Sharp/SRCCore/ISystemConfig.cs
  SRC.Sharp/SRCCoreTests/Config/LocalFileConfigTests.cs
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCCoreTests/srcs.json
Labels: SRCCore

Config使う
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCore/SRC.main.cs
Labels: SRCCore

Config作る。
  SRC.Sharp/SRCCore/Config/LocalFileConfig.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRCCore, SRC#Form

画面でConfigする。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCDataLinter/Program.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

ボリューム変更できる。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/IPlaySound.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.resX
  SRC.Sharp/SRCSharpForm/GUI.ref.cs
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

備忘。
  SRC.Sharp/SRCCore/Config/LocalFileConfig.cs
Labels: SRCCore

Volume設定する。
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

MessageLen
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

PrintMessage
  SRC.Sharp/SRCSharpForm/Extensions/FontExtension.cs
  SRC.Sharp/SRCSharpForm/Extensions/PictureBoxExtension.cs
  SRC.Sharp/SRCSharpForm/Extensions/PointFExtension.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

PrintMessageよぶ
  SRC.Sharp/SRCSharpForm/Extensions/PictureBoxExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

Fontのリセット
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

メッセージ表示
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.cs
  SRC.Sharp/SRCSharpForm/Lib/MessageConfig.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

色指定
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

remark
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
