Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

重複消し漏れ
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/LeaveCmd.cs
Labels: SRCCore

Arrayコマンド。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/ArrayCmd.cs
Labels: SRCCore

GetVariableObjectもってきた
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

CopyArrayコンパイル通す
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/CopyArrayCmd.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

SwapCmdコンパイル通す
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SwapCmd.cs
Labels: SRCCore

GlobalCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/GlobalCmd.cs
Labels: SRCCore

飽きた
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SortCmd.cs
Labels: SRCCore

最大弾数
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

武器への適用条件
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

武器のステータスUpdate
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.other.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

WeaponDataの参照を元データに
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Fix パイロットいない
  SRC.Sharp/SRCCore/Units/Unit.status.cs
Labels: SRCCore

例外じゃなくてTODOにしとく。
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

StrWidth
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCoreTests/Lib/GeneralLibTests.cs
Labels: SRCCore

弾数だしたり。
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

UnitWeaponのインスタンス作ると参照変わっちゃって厳しいので使いまわす
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

Info関数切り出し
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Info.cs
Labels: SRCCore

リスト処理関数
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/List.cs
Labels: SRCCore

Register List
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
Labels: SRCCore

その他関数を切り出し
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

Register Count
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

その他関数持ってきた。
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

IIf
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

IsDefined
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

IsVarDefined
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

Nickname
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

Term
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

時間データ処理関数きりだし
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Time.cs
Labels: SRCCore

Time参照コード
  SRC.Sharp/SRCCore/Expressions/Functions/Time.cs
Labels: SRCCore

時間データ処理関数
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Time.cs
  SRC.Sharp/SRCCore/VB/Conversions.cs
Labels: SRCCore

正規表現関数切り出し
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Regex.cs
Labels: SRCCore

RegExp
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Regex.cs
Labels: SRCCore

描画処理関数切り出し
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Paint.cs
Labels: SRCCore

ToHex失敗
  SRC.Sharp/SRCCore/Extensions/ColorExtension.cs
  SRC.Sharp/SRCCoreTests/Extensions/ColorExtensionTests.cs
Labels: SRCCore

ToHexString
  SRC.Sharp/SRCCore/Extensions/ColorExtension.cs
  SRC.Sharp/SRCCoreTests/Extensions/ColorExtensionTests.cs
Labels: SRCCore

Font
  SRC.Sharp/SRCCore/Expressions/Functions/Paint.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

描画処理関数
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Paint.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

ファイル処理関数切り出しておく
  SRC.Sharp/SRCCore/Expressions/Functions/File.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
Labels: SRCCore

Stringはじめた
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

関数名のケース
  SRC.Sharp/SRCCore/Expressions/Functions/Function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
