Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Update README.md
  README.md
Labels: none

Create convertlog.md
  memo/convertlog.md
Labels: none

RecoverPlanaCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RecoverPlanaCmd.cs
Labels: SRCCore

RecoverSPCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RecoverSPCmd.cs
Labels: SRCCore

a
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RemovePilotCmd.cs
Labels: SRCCore

blazor target framework .net 6
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

RemovePilotCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/RemovePilotCmd.cs
Labels: SRCCore

ReplacePilotCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/ReplacePilotCmd.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

SetRelationCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/SetRelationCmd.cs
Labels: SRCCore

SetSkillCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/SetSkillCmd.cs
Labels: SRCCore

cat dotnet new gitignore
  SRC.Sharp.Help/.gitignore
Labels: none

SuicidalExplosion
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
Labels: SRCCore

装填
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
Labels: SRCCore

InStatusCommand
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

FinishSpecialPowerCommand
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
Labels: SRCCore

破壊された味方ユニットの中からターゲットを選択する
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
Labels: SRCCore

CancelTransformationCommand
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
Labels: SRCCore

OpenQuikSaveStream
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Microsoft.VisualBasic への参照を削除。
  SRC.Sharp/SRCSharpForm/Forms/Configuration.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/NowLoading.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Telop.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Title.Designer.cs
Labels: SRC#Form

Fix message box
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Message.cs
Labels: SRC#Form

Log Thread ID
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

Update Audio Library
  SRC.Sharp/SRCSharpForm/Properties/launchSettings.json
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Blazor5.0.5->5.0.7 etc
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

AddPartsToListBox
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

SaveCursorPos
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

DataErrorMessage
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

ChangeDisplaySize
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

SupplyCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SupplyCmd.cs
Labels: SRCCore

StopSummoningCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/StopSummoningCmd.cs
Labels: SRCCore

SpecialPowerCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SpecialPowerCmd.cs
Labels: SRCCore

ShowUnitStatusCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ShowUnitStatusCmd.cs
Labels: SRCCore

SetStockCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetStockCmd.cs
Labels: SRCCore

SetStatusCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetStatusCmd.cs
Labels: SRCCore

SetMessageCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetMessageCmd.cs
Labels: SRCCore

SetBulletCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetBulletCmd.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
