Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

Helpが更新された時のみデプロイする
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

Readme
  SRC.Sharp/Help/README.md
Labels: none

jekyll-theme-primer
  SRC.Sharp/Help/Gemfile
  SRC.Sharp/Help/Gemfile.lock
  SRC.Sharp/Help/_config.yml
  SRC.Sharp/Help/src/_layouts/default.html
Labels: none

HelpホスティングURLを記載。
  README.md
  SRC.Sharp/Help/README.md
Labels: none

Fix edit link
  SRC.Sharp/Help/src/_layouts/default.html
Labels: none

Fix 404
  SRC.Sharp/Help/src/404.html
  SRC.Sharp/Help/src/404.md
Labels: none

Fix message
  SRC.Sharp/Help/src/index.md
Labels: none

Fix はじめに
  SRC.Sharp/Help/src/はじめに.md
Labels: none

Fix 動作環境
  SRC.Sharp/Help/src/動作環境.md
Labels: none

fix path SRC.Sharp.Help
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
  SRC.Sharp.Help/src/_layouts/default.html
Labels: none

Fix もれ
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

Menu
  SRC.Sharp.Help/README.md
  SRC.Sharp.Help/src/_data/menu.yml
  SRC.Sharp.Help/src/_includes/menu.html
  SRC.Sharp.Help/src/_includes/menu.md
  SRC.Sharp.Help/src/_layouts/default.html
  SRC.Sharp.Help/src/index.md
Labels: none

just-the-docs
  SRC.Sharp.Help/Gemfile
  SRC.Sharp.Help/Gemfile.lock
  SRC.Sharp.Help/_config.yml
  SRC.Sharp.Help/assets/js/zzzz-search-data.json
  SRC.Sharp.Help/src/_layouts/_default.html
  SRC.Sharp.Help/src/index.md
Labels: none

Revert index
  SRC.Sharp.Help/src/index.md
Labels: none

Configuree github link
  SRC.Sharp.Help/_config.yml
Labels: none

Update azure-static-web-apps-icy-coast-005428600.yml
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

Custom menu
  SRC.Sharp.Help/src/_includes/menu.html
  SRC.Sharp.Help/src/_layouts/_default.html
  SRC.Sharp.Help/src/_layouts/default.html
Labels: none

Fix menu url
  SRC.Sharp.Help/src/_data/menu.yml
Labels: none

メニュー出たのでIndexからメニュー省く
  SRC.Sharp.Help/src/index.md
Labels: none

Update CI.yml
  .github/workflows/CI.yml
Labels: none

Update azure-static-web-apps-yellow-pebble-0ddb1c400.yml
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

GC
  SRC.Sharp.Help/obj/Help.csproj.nuget.dgspec.json
  SRC.Sharp.Help/obj/Help.csproj.nuget.g.props
  SRC.Sharp.Help/obj/Help.csproj.nuget.g.targets
  SRC.Sharp.Help/obj/project.assets.json
  SRC.Sharp.Help/obj/project.nuget.cache
Labels: none

Update README.md
  SRC.Sharp.Help/README.md
Labels: none

lang: ja-jp
  SRC.Sharp.Help/_config.yml
Labels: none

terraform srcs_help
  terraform/help.tf
Labels: none

configure terraform remote
  .terraformignore
  terraform/provider.tf
Labels: none

Fix メニューのリンクが相対パスなので下位ページからリンク切れする #306
  SRC.Sharp.Help/src/_data/menu.yml
Labels: none

常に展開でメニューをスタイル
  SRC.Sharp.Help/src/_includes/menu.html
Labels: none

Active処理
  SRC.Sharp.Help/src/_includes/menu.html
Labels: none

Expand
  SRC.Sharp.Help/src/_includes/menu.html
Labels: none

ロゴは表示しない。
  SRC.Sharp.Help/_config.yml
  SRC.Sharp.Help/src/images/logo.png
  SRC.Sharp/SRC.Sharp.logo.pptx
Labels: none

favicon
  SRC.Sharp.Help/src/favicon.ico
Labels: none

検索用テンプレートはデフォルトでよかった。
  SRC.Sharp.Help/assets/js/zzzz-search-data.json
Labels: none

Fix Index.
  SRC.Sharp.Help/src/index.md
Labels: none

SupportAttackUnit
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

SupportAttackUnit
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

ユニットリストの表示を更新
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
Labels: SRCCore

ExchangeItemCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ExchangeItemCmd.cs
Labels: SRCCore

ColorCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ColorCmd.cs
Labels: SRCCore

LineCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/LineCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRCCore, SRC#Form
