Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

シングルバイナリの実行ファイルパス取得。
  SRC.Sharp/SRCCore/SRC.main.cs
Labels: SRCCore

GItHubのリリースに実行ファイルを入れるお試し。
  .github/workflows/Publish-Puckage.yml
Labels: none

v0.1.5
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRCCore, SRC#Form, SRCDataLinter

-r win-x64 は Windows でビルド
  .github/workflows/Publish-Puckage.yml
Labels: none

zip -> Compress-Archive
  .github/workflows/Publish-Puckage.yml
Labels: none

Update README.md
  README.md
Labels: none

タイトルの隣にそのタグを出す。
  SRC.Sharp/SRCTestBlazor/Npm/_sass/main.scss
  SRC.Sharp/SRCTestBlazor/Shared/TitleNavMenu.razor
  SRC.Sharp/SRCTestBlazor/wwwroot/css/app.css
Labels: SRCTestBlazor

タグも検索対象にいれる。
  SRC.Sharp/SRCTestBlazor/Shared/TitleNavMenu.razor
Labels: SRCTestBlazor

フォーマット
  SRC.Sharp/SRCTestBlazor/Shared/TitleNavMenu.razor
Labels: SRCTestBlazor

update nuget packages.
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCCore, SRCTestBlazor

CmdDataの参照元持ってきた。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
  SRC.Sharp/SRCCore/CmdDatas/Exec.cs
Labels: SRCCore

ファイル単位で大体持ってきた。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Help.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/Models/AbilityEffect.cs
  SRC.Sharp/SRCCore/Models/Condition.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.resX
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.cs
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.resX
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.resX
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.resX
  SRC.Sharp/SRCSharpForm/Forms/Telop.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Telop.cs
  SRC.Sharp/SRCSharpForm/Forms/Telop.resX
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.resX
  SRC.Sharp/SRCSharpForm/GUI.cs
Labels: SRCCore, SRC#Form

UPGRADE_ISSUE見ないし消した。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Events/EventData.cs
  SRC.Sharp/SRCCore/Events/Handle.cs
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Expression.info.cs
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/SRC.config.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Statuses/Status.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Units.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.cs
  SRC.Sharp/SRCSharpForm/GUI.ref.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form

Forms コメントアウト。
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.cs
Labels: SRC#Form

名前空間とクラス名かぶってた。
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.Designer.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/RootForm.resx
Labels: SRC#Form

コメントアウト。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Help.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/Items.cs
Labels: SRCCore

Unitのコード持ってきた
  SRC.Sharp/SRCCore/Units/Unit.message.cs
  SRC.Sharp/SRCCore/Units/Unit.se.cs
Labels: SRCCore

特殊効果関連処理のコンパイル通す。
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/Unit.se.cs
Labels: SRCCore

Microsoft.VisualBasic.Compatibility.VB6.Support
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintPictureCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/ContinueCmd.cs
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/Commands/Command.unitmove.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Commands/Command.unitxxx.cs
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCCore/Help.cs
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Models/AbilityData.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.status.cs
  SRC.Sharp/SRCCore/Statuses/Status.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.message.cs
  SRC.Sharp/SRCCore/Units/Unit.se.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/VB/SrcFormatter.cs
  SRC.Sharp/SRCSharpForm/Forms/Configuration.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.cs
  SRC.Sharp/SRCSharpForm/GUI.ref.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form

コンパイル通す。
  SRC.Sharp/SRCCore/Units/Unit.message.cs
Labels: SRCCore

ユニット居るところに移動できないように。
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

COMのメソッドだけ見えるようにする。
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

パイロットの 特殊能力関連処理持ってきた。
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
Labels: SRCCore

COMの操作外側。
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

Condition持ってきた。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Models/Condition.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

ユニットの敵味方。
  SRC.Sharp/SRCCore/Units/Unit.party.cs
Labels: SRCCore

飽きた。
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

Constants.DEFAULT_LEVEL
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
  SRC.Sharp/SRCCore/Help.cs
  SRC.Sharp/SRCCore/Models/TerrainData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.status.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.sp.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCSharpForm/GUI.ref.cs
Labels: SRCCore, SRC#Form

ユニット探す処理持ってきた。
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

スキルレベルの参照。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.other.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

アビリティ。
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

CPUがワープしてくるようになった。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Models/AbilityData.cs
  SRC.Sharp/SRCCore/Models/AbilityEffect.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.level.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.other.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

移動コストの算出を切り出し。
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

NearestPoint
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

ErrorMessage
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

CPUの攻撃途中。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Units/Unit.weapon.cs
Labels: SRCCore

選択状態。
  SRC.Sharp/SRCCore/Commands/Command.props.cs
  SRC.Sharp/SRCCore/Commands/Command.state.cs
  SRC.Sharp/SRCCore/Commands/SelectedState.cs
Labels: SRCCore

CPU攻撃回りコンパイル通す。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
Labels: SRCCore

ざっくり攻撃してくるように。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

先頭の `\` は絶対パスのルートとして扱われないことを期待されている。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeMapCmd.cs
  SRC.Sharp/SRCCore/Events/EventData.cs
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/SRC.data.cs
  SRC.Sharp/SRCCore/SRC.main.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/Sound.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Resoruces/ImageBuffer.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
