Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

合体
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/Extensions/UnitExtension.cs
  SRC.Sharp/SRCCore/Models/FeatureData.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
Labels: SRCCore

合体。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
  SRC.Sharp/SRCCore/Extensions/UnitExtension.cs
  SRC.Sharp/SRCCore/Models/FeatureData.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

Fix TODO
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/CreateCmd.cs
Labels: SRCCore

ユニット作成時に他形態作る。
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

未実装コマンド
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/NotImplementedCmd.cs
Labels: SRCCore

召喚。
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.summon.cs
Labels: SRCCore

Format
  SRC.Sharp/SRCCore/Units/Unit.ref.cs
Labels: SRCCore

ユニットコマンド。
  SRC.Sharp/SRCCore/Commands/Command.define.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Commands/Command.unitmove.cs
Labels: SRCCore

マップコマンド。
  SRC.Sharp/SRCCore/Commands/Command.define.cs
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
Labels: SRCCore

マップコマンド実行できる。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.props.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Commands/UiCommand.cs
  SRC.Sharp/SRCCore/Events/Event.handle.cs
Labels: SRCCore

マップコマンド実行できる。
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

Fix index.md
  SRC/HelpChm/md/index.md
Labels: none

雑変換
  SRC.Sharp/Help/ExampleConv/.gitignore
  SRC.Sharp/Help/ExampleConv/ExampleConv.csproj
  SRC.Sharp/Help/ExampleConv/Program.cs
Labels: none

Create README.md
  SRC.Sharp/Help/README.md
Labels: none

Update README.md
  SRC.Sharp/Help/README.md
Labels: none

本当に全滅？
  SRC.Sharp/SRCCore/Events/Event.handle.cs
Labels: SRCCore

例外ログなんぼか出しておく。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.label.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

任意のファイル指定はShift_JISも読めるように。
  SRC.Sharp/SRCTestBlazor/Pages/LoadDataPage.razor
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
  SRC.Sharp/SRCTestBlazor/_Imports.razor
Labels: SRCTestBlazor

update-package.
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
  SRC.Sharp/SRCTestForm/SRCTestForm.csproj
Labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Shift_JISもチェックできるようにする。
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCDataLinter

武器一覧とりあえず出しておく。
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
Labels: SRCCore

武装の一覧出す準備。
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
  SRC.Sharp/SRCCore/Units/UnitWeaponList.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Fix ノーマルモードの生成など。
  SRC.Sharp/SRCCore/Models/FeatureData.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

IsWeaponAvailable
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

雑に武器の情報出しておく
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

memo
  SRC.Sharp/SRCCore/Commands/Command.launch.cs
Labels: SRCCore

Fix コンパイル
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
Labels: SRCDataLinter

アビリティ
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

飽きた
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

Indexの範囲外で死なないように
  SRC.Sharp/SRCSharpForm/Forms/ListBox.cs
Labels: SRC#Form

ユニットコマンドに出す
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Models/AbilityData.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

アビリティ一覧する。
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
  SRC.Sharp/SRCCore/Units/UnitAbilityList.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

ExecuteAbilityもってくる。
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

武器アビリティ一覧のインタフェース
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

定型変換。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
Labels: SRCCore

GotoCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/GotoCmd.cs
Labels: SRCCore

ForCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ForCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/NextCmd.cs
Labels: SRCCore

定型変換
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
Labels: SRCCore

ForEachの変数以外。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/ForEachCmd.cs
Labels: SRCCore

配列の添え字取る。
  SRC.Sharp/SRCCore/Extensions/StringExtension.cs
  SRC.Sharp/SRCCoreTests/Extensions/StringExtensionTests.cs
Labels: SRCCore
