Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

TODO内容
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

用語tnameの表示名を参照する
  SRC.Sharp/SRCCore/Expressions/Expression.term.cs
Labels: SRCCore

左辺値を伴う関数
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

コンフィグ変数
  SRC.Sharp/SRCCore/Expressions/Expression.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

浅いコピーでクローンする実装の確認
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCCoreTests/Extensions/ListExtensionTests.cs
Labels: SRCCore

sub_situations
  SRC.Sharp/SRCCore/Extensions/SituationExtension.cs
Labels: SRCCore

AddDefaultAnimation
  SRC.Sharp/SRCCore/Models/MassageDataList.cs
Labels: SRCCore

TryHyperMode
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TryBattleTransform
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TryMoveTransform
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Pilots/Pilots.cs
Labels: SRCCore

TryInstantAbility
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TrySummonning
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TryMapHealing
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TryHealing
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

TryFix
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TrySpecialPower
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
Labels: SRCCore

IsSPEffectUseful
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

サポートアタックをしてくれるユニットがいるかどうか
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

コンソールにログを出してみる
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

実行を試してみる
  .github/workflows/E2E-SRCSForm.yml
  SRC.Sharp/SRCSharpFormTestWinAppDriver/Scenario/empty.eve
Labels: none

Update E2E-SRCSForm.yml
  .github/workflows/E2E-SRCSForm.yml
Labels: none

Update E2E-SRCSForm.yml
  .github/workflows/E2E-SRCSForm.yml
Labels: none

コンソールに無理やりログ出す
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

実行形態をちょっと変えてみる
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRC#Form

PDList になければTerminate
  SRC.Sharp/SRCCore/Pilots/Pilots.cs
Labels: SRCCore

TODO
  SRC.Sharp/SRCCore/Pilots/Pilot.status.cs
Labels: SRCCore

特殊能力による回避を認識する
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

Fix warning
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

IF
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
Labels: SRCCore

実装を移動
  SRC.Sharp/SRCCore/Effect.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

DieAnimation
  SRC.Sharp/SRCSharpForm/Forms/Main.gui.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

ExplodeAnimation
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

Exit
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

SubLocalVars
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

NewSubLocalVar
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/LocalCmd.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/Events/Event.variable.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

TopMost
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

ga_tracking 試してみる
  SRC.Sharp.Help/_config.yml
Labels: none

Dir
  SRC.Sharp/SRCCore/Expressions/Functions/File.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

実体参照を戻しておく
  SRC.Sharp.Help/src/Cancelコマンド.md
  SRC.Sharp.Help/src/Doコマンド.md
  SRC.Sharp.Help/src/Ifコマンド.md
  SRC.Sharp.Help/src/MIDIファイルのインストール.md
  SRC.Sharp.Help/src/RemoveFileコマンド.md
  SRC.Sharp.Help/src/Requireコマンド.md
  SRC.Sharp.Help/src/Talkコマンド.md
  SRC.Sharp.Help/src/UpVarコマンド.md
  SRC.Sharp.Help/src/その他の関数.md
  SRC.Sharp.Help/src/イベントデータ.md
  SRC.Sharp.Help/src/インストールの手順.md
  SRC.Sharp.Help/src/クイックロード.md
  SRC.Sharp.Help/src/ターンイベント.md
  SRC.Sharp.Help/src/パイロットデータ.md
  SRC.Sharp.Help/src/ファイル処理関数.md
  SRC.Sharp.Help/src/マップデータ.md
  SRC.Sharp.Help/src/メッセージデータ.md
  SRC.Sharp.Help/src/ユニットコマンドイベント.md
  SRC.Sharp.Help/src/ユニットデータ.md
  SRC.Sharp.Help/src/ユニット情報関数.md
  SRC.Sharp.Help/src/ユニット用特殊能力.md
  SRC.Sharp.Help/src/基本操作.md
  SRC.Sharp.Help/src/変数.md
  SRC.Sharp.Help/src/式.md
  SRC.Sharp.Help/src/必要技能.md
  SRC.Sharp.Help/src/戦闘アニメデータ.md
  SRC.Sharp.Help/src/攻撃.md
  SRC.Sharp.Help/src/攻撃後イベント.md
  SRC.Sharp.Help/src/文字列処理関数.md
  SRC.Sharp.Help/src/更新履歴(1998).md
  SRC.Sharp.Help/src/更新履歴(1999).md
  SRC.Sharp.Help/src/更新履歴(2002).md
  SRC.Sharp.Help/src/特殊効果データ.md
  SRC.Sharp.Help/src/破壊イベント.md
  SRC.Sharp.Help/src/脱出イベント.md
  SRC.Sharp.Help/src/防御特性に関する特殊能力.md
Labels: none

Waitコマンド時に画面更新されない作りになったので明に更新しておく
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form
