Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

マップ攻撃とりあえず
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackmap.cs
Labels: SRCCore

ZIPファイル内のファイルをいい感じに探すように
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

Fix Waveファイルのルックアップ
  SRC.Sharp/SRCCore/Sound.cs
Labels: SRCCore

ローカルファイルへのアクセスのインタフェース抽出
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

ファイルシステムにパスを追加していく
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

Fix Entrypath
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

存在しないパスは走査対象に追加しない
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

起動時に決まっているパスは起動時に走査対象に追加する
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

ZIPエントリのキャッシュを裏でやっておく
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

SrcCollection のデータ二重持ちをやめた
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

Blazor の動作URLにAzure Static Web Appsのものを追記
  README.md
Labels: none

SP量を表示する
  SRC.Sharp/SRCTestBlazor/Shared/PilotDataView.razor
Labels: SRCTestBlazor

SrcCollection Indexアクセス字にListを構築しない
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

Test SrcCollection 少し
  SRC.Sharp/SRCCoreTests/VB/SrcCollectionTests.cs
Labels: none

Pilot, ItemもPercyする
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Fix percySnapshot タイミング
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

cypress からのアクセス時には乱数を固定化してみる
  SRC.Sharp/SRCTestBlazor/Program.cs
  SRC.Sharp/SRCTestBlazor/wwwroot/index.html
Labels: SRCTestBlazor

Fix ghp getStartupParams
  SRC.Sharp/SRCTestBlazor/wwwroot/index.ghp.html
Labels: SRCTestBlazor

合体技なんぼか
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Commands/Command.props.cs
  SRC.Sharp/SRCCore/Commands/SelectedState.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Unit/Unit.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.other.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackmap.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

ざっくり改造
  SRC.Sharp/SRCCore/Extensions/ListExtension.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

Fix パイロット/ユニットリストEVE読み込み
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

ステータス画面のフォント
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
  SRC.Sharp/SRCCore/Events/Event.unitlist.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

改造時のソート
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.level.cs
Labels: SRCCore

Fix quote
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
Labels: SRCCore

SP条件
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
Labels: SRCCore

SPアニメ
  SRC.Sharp/SRCCore/Models/SpecialPowerData.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.sp.cs
  SRC.Sharp/SRCCore/Units/Unit.anime.cs
Labels: SRCCore

add-terraform-provider-file
  terraform/provider.tf
Labels: none

一応想定するDataViewerを宣言。
  terraform/viewer.tf
Labels: none

Terraform備忘。
  terraform/README.md
Labels: none

Update README.md
  terraform/README.md
Labels: none

Update provider.tf
  terraform/provider.tf
Labels: none

Update viewer.tf
  terraform/viewer.tf
Labels: none

Update provider.tf
  terraform/provider.tf
Labels: none

インポートしたので戻す
  terraform/provider.tf
  terraform/viewer.tf
Labels: none

eastasia にいるっぽい。
  terraform/viewer.tf
Labels: none
