Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor

Update README.md
  README.md
Labels: none

Create development_history.md
  SRC/development_history.md
Labels: none

READMEにSRC派生ソフトウェアの項を追加
  README.md
Labels: none

SetCmdもってきた。
  SRC.Sharp/SRCCore/CmdDatas/Commands/SetCmd.cs
Labels: SRCCore

SetCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/SetCmd.cs
Labels: SRCCore

CSSのビルド遅いのでしないでおく。
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

autoprefixer
  SRC.Sharp/SRCTestBlazor/wwwroot/css/app.css
Labels: SRCTestBlazor

SetVariable
  SRC.Sharp/SRCCore/Events/EventData.cs
  SRC.Sharp/SRCCore/Events/Props.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

確認ダイアログ。
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCTestForm/frmMain.gui.cs
Labels: SRCCore, SRC#Form

ターン終了。
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
Labels: SRCCore

デバッグログ出せるように。
  SRC.Sharp/SRCCore/Commands/Command.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

ターンイベント。
  SRC.Sharp/SRCCore/Events/Handle.cs
  SRC.Sharp/SRCCore/SRC.play.cs
Labels: SRCCore

ログ追加。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/Commands/Command.cs
  SRC.Sharp/SRCCore/Events/Label.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

ターンラベル実行する。
  SRC.Sharp/SRCCore/Events/Label.cs
Labels: SRCCore

IfCmdまわりとりあえず作る。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/AIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/ElseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/ElseIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/EndIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/IfCmd.cs
Labels: SRCCore

Else/ElseIfCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/AIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/ElseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/ElseIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/IfCmd.cs
Labels: SRCCore

ざっとIfを事前処理。
  SRC.Sharp/SRCCore/CmdDatas/Commands/AIfCmd.cs
Labels: SRCCore

Switchコマンド作る。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/SwitchCmd.cs
Labels: SRCCore

Switch持ってきた。
  SRC.Sharp/SRCCore/CmdDatas/Commands/SwitchCmd.cs
Labels: SRCCore

ざっとSwitch。
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/AIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/SwitchCmd.cs
Labels: SRCCore

ラベルの一致判断。
  SRC.Sharp/SRCCore/Events/Handle.cs
  SRC.Sharp/SRCCore/Events/Label.cs
  SRC.Sharp/SRCCore/Events/LabelData.cs
Labels: SRCCore

Fix コマンドに応じて制御構造をチェック
  SRC.Sharp/SRCCore/CmdDatas/Commands/AIfCmd.cs
  SRC.Sharp/SRCCore/Events/EventData.cs
Labels: SRCCore

If
  SRC.Sharp/SRCCore/CmdDatas/Commands/AIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/IfCmd.cs
Labels: SRCCore

行動終了イベント
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
  SRC.Sharp/SRCCore/Events/Label.cs
Labels: SRCCore

CallCmdもってきた。
  SRC.Sharp/SRCCore/CmdDatas/Commands/CallCmd.cs
Labels: SRCCore

Call準備。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/CallCmd.cs
Labels: SRCCore

AutoTalkCmdの中身を持ってくる。
  SRC.Sharp/SRCCore/CmdDatas/Commands/AutoTalkCmd.cs
Labels: SRCCore

AutoTalk
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/AutoTalkCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/TalkCmd.cs
  SRC.Sharp/SRCTestForm/frmMain.gui.cs
Labels: SRCCore, SRC#Form

TalkCmd.csを割った。
  SRC.Sharp/SRCCore/CmdDatas/Commands/ATalkCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/TalkCmd.cs
Labels: SRCCore

Callの引数0個。
  SRC.Sharp/SRCCore/CmdDatas/Commands/CallCmd.cs
Labels: SRCCore

Cmdにサブフォルダ。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Call/CallCmd.cs
Labels: SRCCore

ReturnCmd持ってきた。
  SRC.Sharp/SRCCore/CmdDatas/Commands/Call/ReturnCmd.cs
Labels: SRCCore

Return
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Call/ReturnCmd.cs
Labels: SRCCore

ItemData持ってきた。
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
Labels: SRCCore

ItemDataとりあえず。
  SRC.Sharp/SRCCore/Models/ItemData.cs
Labels: SRCCore

アイテム読む準備。
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
  SRC.Sharp/SRCCore/Models/UnitDataList.cs
Labels: SRCCore

ItemData読む。
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
  SRC.Sharp/SRCCore/Models/UnitDataList.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCore/SRC.data.cs
Labels: SRCCore

アイテムデータ出す。
  SRC.Sharp/SRCTestForm/frmMain.cs
Labels: SRC#Form

フィールド名かぶってたので変えた。
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
  SRC.Sharp/SRCCore/Models/PilotData.cs
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Models/UnitDataList.cs
  SRC.Sharp/SRCTestBlazor/Shared/PilotDataListView.razor
  SRC.Sharp/SRCTestBlazor/Shared/PilotDataView.razor
  SRC.Sharp/SRCTestBlazor/Shared/UnitDataListView.razor
  SRC.Sharp/SRCTestBlazor/Shared/UnitDataView.razor
Labels: SRCCore, SRCTestBlazor

パイロットのユニットへの追加能力も出しておく。
  SRC.Sharp/SRCTestBlazor/Shared/PilotDataView.razor
Labels: SRCTestBlazor

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCTestForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
