Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

TODO ERROR
  SRC.Sharp/SRCSharpForm/Forms/Configuration.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ErrorMessage.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ListBox.Designer.cs
Labels: SRC#Form

NewGUIModeは当面実装しない
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/OptionCmd.cs
Labels: SRCCore

メインパイロットの強制指定
  SRC.Sharp/SRCCore/CmdDatas/Commands/Talk/ATalkCmd.cs
Labels: SRCCore

システム変数は済
  SRC.Sharp/SRCCore/Expressions/Variable.cs
Labels: SRCCore

FileSystemに逃がす
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

アビリティ
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

IsAbilityAvailable
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

IsCombinationAbilityAvailable
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

UseAbility
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

IsAbilityUseful
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

IsTargetWithinAbilityRange
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

IsTargetReachableForAbility
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

IsAbilityApplicable
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

NotSupportedCmd write
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
Labels: SRCCore

TelopCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/TelopCmd.cs
Labels: SRCCore

DisplayTelop
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

DisplayTelop
  SRC.Sharp/SRCSharpForm/Forms/Telop.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Telop.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

FIx use.
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

WindowWidth, WindowHeight
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
Labels: SRCCore

UseAbilityCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UseAbilityCmd.cs
Labels: SRCCore

UseAbilityCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UseAbilityCmd.cs
Labels: SRCCore

UpgradeCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UpgradeCmd.cs
Labels: SRCCore

UpgradeCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UpgradeCmd.cs
  SRC.Sharp/SRCCore/Commands/Command.props.cs
  SRC.Sharp/SRCCore/Commands/Command.state.cs
  SRC.Sharp/SRCCore/Commands/SelectedState.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
Labels: SRCCore

TransformCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/TransformCmd.cs
Labels: SRCCore

TransformCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdData.utils.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/TransformCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/UpgradeCmd.cs
Labels: SRCCore

SplitCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SplitCmd.cs
Labels: SRCCore

SplitCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SplitCmd.cs
Labels: SRCCore

DebugCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/DebugCmd.cs
Labels: SRCCore

Handle NotImplementedException
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
Labels: SRCCore

Debugコマンド
  SRC.Sharp/Help/md/Debugコマンド.md
  SRC.Sharp/Help/md/index.md
  SRC.Sharp/Help/md/イベントコマンド.md
Labels: none

Fix DebugCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/DebugCmd.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

Fix 例、他補足
  SRC.Sharp/Help/md/Debugコマンド.md
Labels: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

Fix workflow name
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

Init Jekyll
  SRC.Sharp/SRCSHelp/.gitignore
  SRC.Sharp/SRCSHelp/404.html
  SRC.Sharp/SRCSHelp/Gemfile
  SRC.Sharp/SRCSHelp/Gemfile.lock
  SRC.Sharp/SRCSHelp/_config.yml
  SRC.Sharp/SRCSHelp/_posts/2021-06-18-welcome-to-jekyll.markdown
  SRC.Sharp/SRCSHelp/about.markdown
  SRC.Sharp/SRCSHelp/index.markdown
Labels: none

Configure jekyll
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

COnfigure help
  SRC.Sharp/Help/.gitignore
  SRC.Sharp/Help/Gemfile
  SRC.Sharp/Help/Gemfile.lock
  SRC.Sharp/Help/_config.yml
  SRC.Sharp/Help/md/404.html
  SRC.Sharp/Help/md/_layouts/default.html
  SRC.Sharp/Help/md/index.md
  SRC.Sharp/SRCSHelp/_config.yml
  SRC.Sharp/SRCSHelp/_posts/2021-06-18-welcome-to-jekyll.markdown
  SRC.Sharp/SRCSHelp/about.markdown
  SRC.Sharp/SRCSHelp/index.markdown
Labels: none

Configure custom domain
  SRC.Sharp/Help/_config.yml
Labels: none

AddJekyllHeader
  SRC.Sharp/Help/AddJekyllHeader/AddJekyllHeader.csproj
  SRC.Sharp/Help/AddJekyllHeader/Program.cs
Labels: none

jekyll-relative-links
  SRC.Sharp/Help/Gemfile
  SRC.Sharp/Help/Gemfile.lock
  SRC.Sharp/Help/_config.yml
Labels: none

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
