Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

ClearObjCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClearObjCmd.cs
Labels: SRCCore

ClearObjCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClearObjCmd.cs
Labels: SRCCore

HotPointCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/HotPointCmd.cs
  SRC.Sharp/SRCCore/Events/HotPoint.cs
Labels: SRCCore

ホットポイントのツールチップ表示
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.cs
  SRC.Sharp/SRCSharpForm/Forms/ToolTip.resX
Labels: SRC#Form

Wait時のホットポイント処理
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
Labels: SRCCore

ホットポイントの解除なんぼか。
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
Labels: SRC#Form

UpdateHotPoint
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClearObjCmd.cs
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Fix 空のセル
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

Show/HideCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/HideCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ShowCmd.cs
Labels: SRCCore

ローカルデータの読みこみ
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

KeyState 仮
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Other.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/Lib/Windows.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

メインウインドウ上でマウスボタンを押している？
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

アイテム交換仕掛け
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

飽きた
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

ItemSlots
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Items/ItemSlot.cs
Labels: SRCCore

リストを構築
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/ItemSlot.cs
Labels: SRCCore

selectedItem
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Items/ItemSlot.cs
Labels: SRCCore

どのアイテムを装備するか選択
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Items/Item.cs
Labels: SRCCore

ItemCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/ItemCmd.cs
Labels: SRCCore

Fix
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/ItemCmd.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/SRC.main.cs
Labels: SRCCore

DeleteItem
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Items/ItemSlot.cs
  SRC.Sharp/SRCCore/Units/Unit.item.cs
Labels: SRCCore

Update SRCとの互換性.md
  SRC.Sharp/Help/md/SRCとの互換性.md
Labels: none

換装
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
Labels: SRCCore

EquipCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/EquipCmd.cs
Labels: SRCCore

EquipCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/EquipCmd.cs
Labels: SRCCore

アビリティデータを更新
  SRC.Sharp/SRCCore/Units/Unit.status.cs
Labels: SRCCore

CopyFileCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CopyFileCmd.cs
Labels: SRCCore

CopyFileCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CopyFileCmd.cs
Labels: SRCCore

CreateFolderCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CopyFileCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CreateFolderCmd.cs
Labels: SRCCore

MkDir
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CreateFolderCmd.cs
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

Remove/Rename cmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RemoveFileCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RemoveFolderCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RenameFileCmd.cs
Labels: SRCCore

RemoveFileCmd RemoveFolderCmd RenameFileCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CopyFileCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RemoveFileCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RemoveFolderCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/RenameFileCmd.cs
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

TODO リストボックス消す
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
Labels: SRCCore

TODO 上限儲けるなら適当に打ち切る
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

変形ＢＧＭ
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
Labels: SRCCore

アニメ表示
  SRC.Sharp/SRCCore/Commands/Command.unitmove.cs
Labels: SRCCore

装備しているアイテムから武器を検索
  SRC.Sharp/SRCCore/Effect.cs
Labels: SRCCore

装備しているアイテムから武器を検索
  SRC.Sharp/SRCCore/Effect.cs
Labels: SRCCore

装備しているアイテムから武器を検索
  SRC.Sharp/SRCCore/Effect.cs
Labels: SRCCore

IDList
  SRC.Sharp/SRCCore/Events/LabelData.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
