Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Update index.md
  SRC/HelpChm/md/index.md
Labels: none

ちょい保存
  SRC.Sharp/SRCCore/Models/FeatureData.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

Damage
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

クリティカル率
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

戦闘アニメのEVE圧縮ファイルから読んでない。
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

音楽をアーカイブ内のファイルから再生できるようにする
  SRC.Sharp/SRCCore/Extensions/StreamExtension.cs
  SRC.Sharp/SRCCore/IPlaySound.cs
  SRC.Sharp/SRCCore/Sound.cs
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
Labels: SRCCore, SRC#Form

Fix wave再生後のノイズ
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
Labels: SRC#Form

Cloneというよりメモリストリームにしてるって感じ
  SRC.Sharp/SRCCore/Extensions/StreamExtension.cs
  SRC.Sharp/SRCCore/Sound.cs
Labels: SRCCore

Fix Blazorで Core.SRC を構築できない
  SRC.Sharp/SRCCore/SRC.util.cs
Labels: SRCCore

Init cypress
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress/fixtures/example.json
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/plugins/index.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/support/commands.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/support/index.js
  SRC.Sharp/SRCTestBlazor/E2E/package-lock.json
  SRC.Sharp/SRCTestBlazor/E2E/package.json
Labels: SRCTestBlazor

CI cypress
  .github/workflows/CD-pages.yml
Labels: none

データロードのケース
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

try fix Cypress run and record.
  .github/workflows/CD-pages.yml
Labels: none

Configure cypress project id.
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
Labels: SRCTestBlazor

Fix working directory
  .github/workflows/CD-pages.yml
Labels: none

動けよ
  .github/workflows/CD-pages.yml
Labels: none

動くわけなかった
  .github/workflows/CD-pages.yml
Labels: none

Fix postcss version
  SRC.Sharp/SRCTestBlazor/Npm/package-lock.json
  SRC.Sharp/SRCTestBlazor/Npm/package.json
Labels: SRCTestBlazor

Fix css
  SRC.Sharp/SRCTestBlazor/wwwroot/css/app.css
Labels: SRCTestBlazor

working-directory の指定があればプロジェクトはそこからの相対パスっぽい
  .github/workflows/CD-pages.yml
Labels: none

Click後にデタッチされるなら次をGetしてみる。
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

test fix test scenario
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Fix battle config
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

WeaponAdaption
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

WeaponMaxRange
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

WeaponENConsumption
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

WeaponLevel
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

充填中
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

IsWeaponMastered
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

Update index.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

CriticalProbability
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

Fix Cypress requires elements be attached in the DOM to interact with them.
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Update index.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Update index.js
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

SkillType
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
Labels: SRCCore

IsSpellWeapon, IsFeatWeapon
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

IsWeaponUseful
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

IsTargetWithinRange
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

IsTargetReachable
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

HitProbability
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
