Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

SelectTargetCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SelectTargetCmd.cs
Labels: SRCCore

SelectCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SelectCmd.cs
Labels: SRCCore

Fix
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/SetMessageCmd.cs
Labels: SRCCore

ClearSpecialPowerCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ClearSpecialPowerCmd.cs
  SRC.Sharp/SRCCore/Units/Unit.sp.cs
Labels: SRCCore

ClearStatusCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ClearStatusCmd.cs
Labels: SRCCore

CombineCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/CombineCmd.cs
Labels: SRCCore

DestroyCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/DestroyCmd.cs
Labels: SRCCore

DisableCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/DisableCmd.cs
Labels: SRCCore

FixCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/FixCmd.cs
Labels: SRCCore

JoinCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/JoinCmd.cs
Labels: SRCCore

LandCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LandCmd.cs
Labels: SRCCore

LeaveCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/LeaveCmd.cs
Labels: SRCCore

MapAbilityCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MapAbilityCmd.cs
Labels: SRCCore

MapAttackCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MapAttackCmd.cs
Labels: SRCCore

RecoverENCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RecoverENCmd.cs
Labels: SRCCore

RecoverHPCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RecoverHPCmd.cs
Labels: SRCCore

ReleaseCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ReleaseCmd.cs
Labels: SRCCore

RemoveUnitCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RemoveUnitCmd.cs
Labels: SRCCore

RankUpCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/RankUpCmd.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

OrganizeCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/OrganizeCmd.cs
Labels: SRCCore

Fix ListBox IF
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

use
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

frmMultiSelectListBox 途中
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.resX
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

BindingList
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
Labels: SRC#Form

並べ替え
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
Labels: SRC#Form

選択
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
Labels: SRC#Form

リストボックス上でマウスカーソルを移動
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.resX
Labels: SRC#Form

表示位置
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

Formサイズ調整適当に
  SRC.Sharp/SRCSharpForm/Forms/MultiSelectListBox.Designer.cs
Labels: SRC#Form

MultiColumnListBox
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MultiColumListBox.resX
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

HP/ENのバー
  SRC.Sharp/SRCSharpForm/Extensions/GraphicsExtension.cs
  SRC.Sharp/SRCSharpForm/Extensions/PictureBoxExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/Lib/Printer.cs
Labels: SRC#Form

Log
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/Events/Event.ui.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

Fix サブルーチン見つからなかった例外
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/CallCmd.cs
Labels: SRCCore

Fix 文字列として識別済みにする
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/SwitchCmd.cs
Labels: SRCCore

Fix 列挙順は SrcCollection で処理済
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
Labels: SRCCore

Fix GraphicsのインタフェースとSRCのインタフェースで回転方向が逆
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ArcCmd.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRCCore, SRC#Form

設定ファイル内容は都度ではなく一括で読む
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

Fix 指定した話者のデータが存在するかチェック
  SRC.Sharp/SRCCore/Models/DialogDataList.cs
Labels: SRCCore

SRC.SPDList.IsDefined
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
Labels: SRCCore

レベル上限チェック
  SRC.Sharp/SRCCore/Pilots/Pilot.level.cs
Labels: SRCCore
