Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

CauseEffect
  SRC.Sharp/SRCCore/Units/Unit.attackcheck.cs
Labels: SRCCore

Constants
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Events/Event.data2.cs
  SRC.Sharp/SRCCore/Models/AbilityData.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

特殊効果メッセージ
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackcheck.cs
Labels: SRCCore

要らんPictureBox消した
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
Labels: SRC#Form

BackgroundBuffer
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.gui.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

備忘
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

Panel -> PictureBox
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
Labels: SRC#Form

MainDoubleBuffer
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.gui.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

RemoveAlpha
  SRC.Sharp/SRCSharpForm/Extensions/ImageExtension.cs
  SRC.Sharp/SRCSharpForm/Resoruces/ImageBuffer.cs
Labels: SRC#Form

GC
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

FIx パイロット画像の背景抜けてる
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

GUIへの描画インタフェース
  SRC.Sharp/SRCCore/CmdDatas/CmdData.ref.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ArcCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.handle.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIMap.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIStatus.cs
  SRC.Sharp/SRCCore/UIInterface/IPlaySound.cs
  SRC.Sharp/SRCCore/UIInterface/ISystemConfig.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/VB/FillStyle.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRCCore, SRC#Form

ArcCmd仮実装
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ArcCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

BossRankCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/BossRankCmd.cs
Labels: SRCCore

ボスランクによる修正
  SRC.Sharp/SRCCore/Units/Unit.status.cs
Labels: SRCCore

ChangeAreaCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangeAreaCmd.cs
Labels: SRCCore

GC
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/BossRankCmd.cs
Labels: SRCCore

ChangeUnitBitmapCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangeUnitBitmapCmd.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form

備忘
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

ChargeCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChargeCmd.cs
Labels: SRCCore

援護攻撃
  SRC.Sharp/SRCCore/Commands/Command.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

ファイル操作の実装
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

シナリオのパスだけ操作できる
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

ファイル管理。
  SRC.Sharp/SRCCore/Config/LocalFileConfig.cs
  SRC.Sharp/SRCCore/Extensions/FileSystemExtension.cs
  SRC.Sharp/SRCCore/Extensions/StreamExtension.cs
  SRC.Sharp/SRCCore/Filesystem/FileHandle.cs
  SRC.Sharp/SRCCore/UIInterface/ISystemConfig.cs
Labels: SRCCore

OpenCloseCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/CloseCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/OpenCmd.cs
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

PrintCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/PrintCmd.cs
Labels: SRCCore

LineReadCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/LineReadCmd.cs
Labels: SRCCore

読み書きで参照ディレクトリ分ける
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRCCore, SRC#Form

Revert "読み書きで参照ディレクトリ分ける"
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRCCore, SRC#Form

CloseなりしないとFlushされなかった。
  SRC.Sharp/SRCCore/Filesystem/FileHandle.cs
Labels: SRCCore

備忘
  SRC.Sharp/SRCCore/CmdDatas/Commands/File/OpenCmd.cs
Labels: SRCCore

ファイルが既存でなければ最初エントリーセットから開く
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

EOF
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/File.cs
Labels: SRCCore

Dir
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/File.cs
  SRC.Sharp/SRCCore/Filesystem/IFilesystem.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

実装に手を付け始めた。
  SRC.Sharp/SRCCore/Expressions/Functions/File.cs
Labels: SRCCore

Fix Constract intermission
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/ContinueCmd.cs
  SRC.Sharp/SRCCore/SRC.main.cs
Labels: SRCCore

Fix not eixsts dir.
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
Labels: SRCCore

TODO 個別にインスタンス化してるの消す
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

TODO コメント
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/Unit.props.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRCCore, SRC#Form

フィルタ PaintPictureCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintPictureCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Talk/ATalkCmd.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
