Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

ぼちぼち要らんコメント整理
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

BitmapID 消す #273
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangeUnitBitmapCmd.cs
  SRC.Sharp/SRCCore/Commands/Command.launch.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackmap.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Units.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.gui.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRCCore, SRC#Form

表示するパイロット能力のリストを作成
  SRC.Sharp/SRCCore/Pilots/Pilot.unit.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
  SRC.Sharp/SRCCore/VB/Strings.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRCCore, SRC#Form

MockGUI
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCoreTests/Expressions/ExpressionTests.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCCore, SRCDataLinter

TOMackerel
  tools/ToMackerel/OpenAPIs/mackerel-api.yml
  tools/ToMackerel/Program.cs
  tools/ToMackerel/ToMackerel.csproj
Labels: none

Workflow
  .github/workflows/CodeInfo.yml
Labels: none

Update CodeInfo.yml
  .github/workflows/CodeInfo.yml
Labels: none

Not Implemented -> Supported
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/ClearFlashCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/PlayFlashCmd.cs
  SRC.Sharp/SRCCore/Filesystem/LocalFilesystem.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/UIInterface/IPlaySound.cs
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
Labels: SRCCore, SRC#Form

put filename to log.
  tools/ToMackerel/Program.cs
Labels: none

Try Publish
  .github/workflows/CI.yml
Labels: none

Update CI.yml
  .github/workflows/CI.yml
Labels: none

fix warn
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
Labels: SRCCore

画像のキャッシュ全般はもっと低いレイヤでやる。
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

ContinueCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Stage/ContinueCmd.cs
Labels: SRCCore

MakeUnitBitmap 消す
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Party
  SRC.Sharp/SRCCore/Units/Unit.action.cs
Labels: SRCCore

&&
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
  SRC.Sharp/SRCCore/Expressions/Variable.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
  SRC.Sharp/SRCCore/Units/Unit.ref.cs
  SRC.Sharp/SRCCore/Units/Unit.se.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

DisplayBattleMessage
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

Update Program.cs
  SRC.Sharp/Help/HelpConverter/Program.cs
Labels: none

AttackCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/AttackCmd.cs
Labels: SRCCore

CircleCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/CircleCmd.cs
Labels: SRCCore

CircleCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/CircleCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRCCore, SRC#Form

GC
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRC#Form

DrawOptionCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/DrawOptionCmd.cs
Labels: SRCCore

DrawWidthCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/DrawOptionCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/DrawWidthCmd.cs
Labels: SRCCore

EnableCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/EnableCmd.cs
Labels: SRCCore

EnableCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/EnableCmd.cs
Labels: SRCCore

EscapeCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/EscapeCmd.cs
Labels: SRCCore

EscapeCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/EscapeCmd.cs
Labels: SRCCore

FillColorCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FillColorCmd.cs
Labels: SRCCore

FillStyleCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FillStyleCmd.cs
Labels: SRCCore

FillStyleCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FillStyleCmd.cs
Labels: SRCCore

FontCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FontCmd.cs
Labels: SRCCore

FontCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/FontCmd.cs
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form

currentDrawFontColor
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

マップやその他の画像の走査見直し
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeTerrainCmd.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/Resoruces/ImageBuffer.cs
Labels: SRCCore, SRC#Form

Fix CVE-2021-33623
  SRC.Sharp/SRCTestBlazor/Npm/package.json
Labels: SRCTestBlazor

Fix してなかったわ。
  SRC.Sharp/SRCTestBlazor/Npm/package-lock.json
  SRC.Sharp/SRCTestBlazor/Npm/package.json
Labels: SRCTestBlazor

NotSupportedCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/ClearFlashCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/PlayFlashCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/NotSupportedCmd.cs
Labels: SRCCore

SRCとの互換性ドキュメント追加。
  SRC.Sharp/Help/md/SRCとの互換性.md
  SRC.Sharp/Help/md/index.md
Labels: none
