Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

partial
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

DisplayBattleMessage
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

DisplaySysMessage
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

Fix font height.
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

Fix #152 message offset
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

文字列描画周りの備忘。
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

StringFormat試す。
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

LineFeed
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

MeasureString お試し。
  SRC.Sharp/SRC.Sharp.sln
  SRC.Sharp/SRCSharpFormTests/SRCSharpFormGUITests.cs
  SRC.Sharp/SRCSharpFormTests/SRCSharpFormTests.csproj
Labels: none

IntermissionCommand を選ぶ。
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Intermission.cs
Labels: SRCCore

IntermissionCommandCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/IntermissionCommandCmd.cs
Labels: SRCCore

各リストのUpdateメソッドガワだけ。
  SRC.Sharp/SRCCore/Items/Items.cs
  SRC.Sharp/SRCCore/Pilots/Pilots.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

インターミッションの選択肢出す。
  SRC.Sharp/SRCCore/Intermission.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

FIx Ask
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Intermission.cs
Labels: SRCCore

Fix list modify in foreach.
  SRC.Sharp/SRCCore/Pilots/Pilots.cs
Labels: SRCCore

move intermission.cs
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

メソッドの枠だけ。
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

起動画面にボタン追加。
  SRC.Sharp/SRCSharpForm/RootForm.Designer.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/RootForm.resx
Labels: SRC#Form

UseWeaponとか持ってきた。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackmap.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

UseWeapon
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

バトルメッセージ表示少し。
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

攻撃のチェック系持ってきただけ
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackcheck.cs
  SRC.Sharp/SRCCore/Units/Unit.ref.cs
Labels: SRCCore

攻撃時のシステムメッセージ。
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.lookup.cs
  SRC.Sharp/SRCCore/Units/Unit.sp.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRCCore, SRC#Form

バトルメッセージの表示続き
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

メッセージ続き。
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

コンパイルは通っているな
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

ここで終了の多重確認をしないようにしておこう。
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
Labels: SRC#Form

変数のスコープ
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

攻撃一通りおわり。
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
Labels: SRCCore

スクロールバー戻しておく。
  SRC.Sharp/SRCSharpForm/FormLib/SrcScrollBar.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
Labels: SRC#Form

仮の初期設定をまとめておく。
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

メッセージの改行閾値整理。
  SRC.Sharp/SRCSharpForm/Lib/MessageConfig.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.message.cs
Labels: SRC#Form

警告消し
  SRC.Sharp/SRCCore/Commands/Command.unitform.cs
Labels: SRCCore

using
  SRC.Sharp/SRCTestBlazor/Models/SrcBitmapIndex.cs
  SRC.Sharp/SRCTestBlazor/Models/SrcDataIndex.cs
  SRC.Sharp/SRCTestBlazor/Models/SrcDataKind.cs
  SRC.Sharp/SRCTestForm/FormLib/SrcTreeNode.cs
Labels: SRCTestBlazor

参照コードをもってくる。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakeUnitListCmd.cs
  SRC.Sharp/SRCCore/Events/Event.unitlist.cs
Labels: SRCCore

PilotList
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Maps/MapCell.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.pilot.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form

UnitList
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakeUnitListCmd.cs
  SRC.Sharp/SRCCore/Events/Event.cs
  SRC.Sharp/SRCCore/Events/Event.unitlist.cs
Labels: SRCCore

Fix ask
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
Labels: SRCCore

Fix 射程攻撃力ソート
  SRC.Sharp/SRCCore/Events/Event.unitlist.cs
Labels: SRCCore

Fix ソート順
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
  SRC.Sharp/SRCCore/Events/Event.unitlist.cs
Labels: SRCCore

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
