Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

TODO
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
Labels: SRCCore

SRC#Help Environment 試してみる
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

environment url
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

environment url
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

SRC#DataViewer Environment
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

SRC#Help のEnvironmentを切り替え
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

Close時にEnvironmentのURLクリアしてみる
  .github/workflows/azure-static-web-apps-yellow-pebble-0ddb1c400.yml
Labels: none

SRC#DataViewer の Environment 設定
  .github/workflows/azure-static-web-apps-icy-coast-005428600.yml
Labels: none

特殊効果を与える確率を計算
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

必要技能
  SRC.Sharp/SRCCore/Items/Item.cs
  SRC.Sharp/SRCCore/Models/AliasData.cs
Labels: SRCCore

不必要技能
  SRC.Sharp/SRCCore/Items/Item.cs
Labels: SRCCore

夢
  SRC.Sharp/SRCCore/Commands/Command.unitsp.cs
Labels: SRCCore

AbilityData#Nickname
  SRC.Sharp/SRCCore/Models/AbilityData.cs
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/ItemDataList.cs
  SRC.Sharp/SRCCore/Models/PilotData.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Models/UnitDataList.cs
Labels: SRCCore

ItemData#KanaName
  SRC.Sharp/SRCCore/Models/ItemData.cs
Labels: SRCCore

PilotData#Nickname
  SRC.Sharp/SRCCore/Models/PilotData.cs
Labels: SRCCore

PilotData#KanaName
  SRC.Sharp/SRCCore/Models/PilotData.cs
Labels: SRCCore

UnitData#KanaName
  SRC.Sharp/SRCCore/Models/UnitData.cs
Labels: SRCCore

WeaponData#Nickname
  SRC.Sharp/SRCCore/Models/ItemData.cs
  SRC.Sharp/SRCCore/Models/PilotData.cs
  SRC.Sharp/SRCCore/Models/UnitData.cs
  SRC.Sharp/SRCCore/Models/WeaponData.cs
Labels: SRCCore

Pilot#get_Nickname
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
Labels: SRCCore

Pilot#KanaName
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
Labels: SRCCore

ダミーのSPデータをViewerで入れる
  SRC.Sharp/SRCCore/Models/PilotDataList.cs
  SRC.Sharp/SRCTestBlazor/Extensions/SRCExtension.cs
  SRC.Sharp/SRCTestBlazor/Pages/LoadDataPage.razor
  SRC.Sharp/SRCTestBlazor/Shared/LoadTitleView.razor
Labels: SRCCore, SRCTestBlazor

GSCのSP
  SRC.Sharp/SRCTestBlazor/Extensions/SRCExtension.cs
Labels: SRCTestBlazor

Update Blazor.
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

update packages
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

処理時間表示する
  SRC.Sharp/SRCTestBlazor/Shared/LoadTitleView.razor
Labels: SRCTestBlazor

Update ASP.NET
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor

Update Selenium Driver
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
Labels: none

TargetFramework を .NET 6に。
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
  SRC.Sharp/SRCTestForm/SRCTestForm.csproj
Labels: SRC#Form, SRCTestBlazor, SRCDataLinter

.NET Standard 2.0 にするのはちょっと大変そうだった。
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCCore/Sound.cs
  SRC.Sharp/SRCCore/UIInterface/IPlaySound.cs
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/Resoruces/WindowsManagedPlayer.cs
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Update .NET Lib
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
  SRC.Sharp/SRCTestForm/SRCTestForm.csproj
Labels: SRCCore, SRC#Form, SRCTestBlazor

Update Microsoft.NET.Test.Sdk
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
Labels: none

Update Serilog.Extensions.Logging
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

Update package version.
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRCCore, SRC#Form, SRCDataLinter

Fix actions .NET version.
  .github/workflows/CI.yml
  .github/workflows/CodeInfo.yml
  .github/workflows/Publish-Puckage.yml
Labels: none

Update Document
  README.md
  SRC.Sharp.Help/src/動作環境.md
  SRC.Sharp/SRCCore/VB/Strings.cs
Labels: SRCCore

Update docker base image.
  SRC.Sharp/SRCDataLinter/Dockerfile
Labels: SRCDataLinter

Update Publish-Puckage.yml
  .github/workflows/Publish-Puckage.yml
Labels: none

fix bin path
  .github/workflows/Publish-Puckage.yml
Labels: none

Update package
  SRC.Sharp/SRCCoreTests/SRCCoreTests.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
  SRC.Sharp/SRCTestBlazor/SRCTestBlazor.csproj
Labels: SRCTestBlazor, SRCDataLinter

update package
  SRC.Sharp/SRCSharpFormTestWinAppDriver/SRCSharpFormTestWinAppDriver.csproj
  SRC.Sharp/SRCSharpFormTestWinAppDriver/app.config
  SRC.Sharp/SRCSharpFormTestWinAppDriver/packages.config
Labels: none

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
