Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

Jump
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

移動制限
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Units/Unit.map.cs
Labels: SRCCore

FillMoveCost
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Maps/UnitMoveProps.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

AreaInMoveAction
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Maps/UnitMoveProps.cs
  SRC.Sharp/SRCCore/Models/TerrainData.cs
Labels: SRCCore

SafetyPoint
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

ログ設定を外から入れられるようにする
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRCCore, SRC#Form

Serilog
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

UpdateLogger
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

StartFixCommand
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
Labels: SRCCore

FinishFixCommand
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Models/FeatureData.cs
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRCCore, SRC#Form

StartSupplyCommand
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
Labels: SRCCore

FinishSupplyCommand
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

GC
  SRC.Sharp/SRCCore/Commands/Command.unitsupply.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
Labels: SRCCore

WaitCommand
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
Labels: SRCCore

FeatureListCommand
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
  SRC.Sharp/SRCCore/Models/Condition.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.skill.cs
Labels: SRCCore

FeatureListCommand
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
Labels: SRCCore

FeatureHelp
  SRC.Sharp/SRCCore/Help.cs
  SRC.Sharp/SRCCore/Units/Unit.feature.cs
  SRC.Sharp/SRCCore/Units/Unit.status.cs
Labels: SRCCore

アビリティ専用ＢＧＭ
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
Labels: SRCCore

射程0のアビリティはその場で実行
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
Labels: SRCCore

StartAbilityCommand
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
Labels: SRCCore

FinishAbilityCommand
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

MapAbilityCommand
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
Labels: SRCCore

AttributeHelp
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
Labels: SRCCore

ExecuteMapAbility
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

ExecuteMapAbilityじゃなくて普通の方からやる
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

アイテムを消費
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
Labels: SRCCore

ExecuteAbility
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
  SRC.Sharp/SRCCore/Units/Unit.message.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
Labels: SRCCore

SetEffect
  SRC.Sharp/SRCCore/Models/AbilityData.cs
Labels: SRCCore

アビリティ1つなら選択ショートカットしておく
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

掃除
  SRC.Sharp/SRCCore/Commands/Command.preview.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

is_map_ability
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

ちょいリリースしてみる
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRCCore, SRC#Form, SRCDataLinter

Update README.md
  README.md
Labels: none

Fix NU1605
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

ver0.2.1
  SRC.Sharp/SRCCore/SRCCore.csproj
  SRC.Sharp/SRCDataLinter/SRCDataLinter.csproj
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRCCore, SRC#Form, SRCDataLinter

SP表と部隊表選択できるように
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

UnitListCommand
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
Labels: SRCCore

SearchSpecialPowerCommand
  SRC.Sharp/SRCCore/Commands/Command.mapcommend.cs
Labels: SRCCore

Escape
  SRC.Sharp/SRCCore/Units/Unit.map.cs
  SRC.Sharp/SRCCore/Units/Unit.onboard.cs
Labels: SRCCore

ExchangeFormCmdID
  SRC.Sharp/SRCCore/Commands/Command.define.cs
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitcommand.cs
Labels: SRCCore
