Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Fix upver
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/CallCmd.cs
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Args.cs
  SRC.Sharp/SRCCore/Expressions/Functions/Other/Call.cs
Labels: SRCCore

Trace num result
  SRC.Sharp/SRCCore/Expressions/Functions/AFunction.cs
Labels: SRCCore

Fix 少数 to int.
  SRC.Sharp/SRCCore/VB/Conversions.cs
  SRC.Sharp/SRCCoreTests/Lib/GeneralLibTests.cs
Labels: SRCCore

format next id
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/CallCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/DoCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/EndIfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/IfCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/SwitchCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/CancelCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/ClearEventCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Event/RestoreEventCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/ConfirmCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/InputCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeMapCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/NopCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/NotImplementedCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/CenterCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClearPictureCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintPictureCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PaintStringCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/RedrawCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/RefreshCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Sound/KeepBGMCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Sound/PlaySoundCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Sound/StopBGMCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Talk/EndCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Talk/SuspendCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangeModeCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/ChangePartyCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/CreateCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/FinishCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Unit/MoveCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Variable/SetCmd.cs
Labels: SRCCore

Trace Switch
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/SwitchCmd.cs
Labels: SRCCore

Fix unregister func
  SRC.Sharp/SRCCore/Expressions/Expression.function.cs
Labels: SRCCore

Fix log level
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRCCore, SRC#Form

画像加工試し中
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

Fix ScreenIsSaved
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

Fix switch trace.
  SRC.Sharp/SRCCore/CmdDatas/Commands/Control/SwitchCmd.cs
Labels: SRCCore

画像を回転
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

画像操作は常にImage編集の形でやる
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/SRC.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/Extensions/ImageExtension.cs
  SRC.Sharp/SRCSharpForm/GUI.ref.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

MonotoneCmdもってきた
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/MonotoneCmd.cs
Labels: SRCCore

DrawUnit切り出す
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

Monotone
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/MonotoneCmd.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form

ちょい整理
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/MonotoneCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/NightCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/NoonCmd.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form

夜
  SRC.Sharp/SRCSharpForm/Extensions/ImageExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

マップ変更系コンパイル通す
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeMapCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ColorFilterCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/MonotoneCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/NightCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/NoonCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/SepiaCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/SunsetCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/WaterCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MakePilotListCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.unitlist.cs
  SRC.Sharp/SRCCore/Extensions/ColorExtension.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/SRC.save.cs
  SRC.Sharp/SRCCoreTests/TestLib/MockGUI.cs
  SRC.Sharp/SRCDataLinter/LinterGUI.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRCCore, SRC#Form, SRCDataLinter

マップの色変わる系
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCSharpForm/Extensions/ImageExtension.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

Traceコミットしてしまった
  SRC.Sharp/SRCCore/SRC.cs
Labels: SRCCore

SRC#Formのバージョンを3.x.xに。他は置いておく。
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

バージョンについて備忘。
  README.md
Labels: none

Replace
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

#175
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

Flashはサポートしない。
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/ClearFlashCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Flash/PlayFlashCmd.cs
Labels: SRCCore

Flashはサポートしない。
  SRC.Sharp/Help/md/ClearFlashコマンド.md
  SRC.Sharp/Help/md/PlayFlashコマンド.md
  SRC/HelpChm/md/index.md
Labels: none

ChangeTerrain持ってきた
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeTerrainCmd.cs
Labels: SRCCore

ChangeTerrain
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeTerrainCmd.cs
  SRC.Sharp/SRCCore/Models/TerrainDataList.cs
Labels: SRCCore

Fix マップをちょっとドラッグした時に1セルスクロールするのがだるい。 #159
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
Labels: SRC#Form

Fix InStr
  SRC.Sharp/SRCCore/Expressions/Functions/String.cs
Labels: SRCCore

変換処理の冗長なチェックを削除
  SRC.Sharp/SRCCore/Lib/GeneralLib.cs
Labels: SRCCore

スクロールバーのキーでのスクロールをハック。
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Lib/SrcScrollBar.cs
Labels: SRC#Form

Kill スクロールイベント
  SRC.Sharp/SRCSharpForm/Lib/SrcScrollBar.cs
Labels: SRC#Form

冗長なイベント処理を消す
  SRC.Sharp/SRCSharpForm/Forms/Main.Designer.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
Labels: SRC#Form

マウス処理中のメッセージは処理する
  SRC.Sharp/SRCSharpForm/Lib/SrcScrollBar.cs
Labels: SRC#Form

メインウィンドウのサイズ
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

DisplayGlobalStatus
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

当面NewGUIは処理しない
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

ユニットステータス表示少し。
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

ステータス表示
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
