Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

MaxHP
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

MaxEN
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

get_Armor
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

get_Mobility
  SRC.Sharp/SRCCore/Units/Unit.props.cs
Labels: SRCCore

gc
  SRC.Sharp/SRCSharpForm/Forms/Main.guistatus.cs
Labels: SRC#Form

Fix LIndex
  SRC.Sharp/SRCCore/Expressions/Functions/List.cs
Labels: SRCCore

画像の加工
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

反転
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

画像の加工
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

NegPosReverse
  SRC.Sharp/SRCSharpForm/Extensions/ImageExtension.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

Silhouette
  SRC.Sharp/SRCSharpForm/Extensions/ImageExtension.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

特殊なファイル名を解決
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRC#Form

Set up CI with Azure Pipelines
  azure-pipelines.yml
Labels: none

Delete azure-pipelines.yml
  azure-pipelines.yml
Labels: none

多重起動できないようにしておく。
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRC#Form

引数ファイルを読む
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

Fix asset path.
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

Traceレベルのログを出せるように
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/SRCSharpForm.csproj
Labels: SRC#Form

起動時ログ
  SRC.Sharp/SRCSharpForm/RootForm.cs
  SRC.Sharp/SRCSharpForm/RootForm.resx
Labels: SRC#Form

終了ログ
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRC#Form

例外処理してみる
  SRC.Sharp/SRCSharpForm/Program.cs
Labels: SRC#Form

例外処理確認しておく
  SRC.Sharp/SRCSharpForm/Program.cs
  SRC.Sharp/SRCSharpForm/RootForm.Designer.cs
  SRC.Sharp/SRCSharpForm/RootForm.cs
Labels: SRC#Form

2.3系のヘルプから要りそうな内容をインポートした。
  SRC.Sharp.Help/src/CallIntermissionCommandコマンド.md
  SRC.Sharp.Help/src/ClearObjコマンド.md
  SRC.Sharp.Help/src/Execコマンド.md
  SRC.Sharp.Help/src/Info関数.md
  SRC.Sharp.Help/src/Organizeコマンド.md
  SRC.Sharp.Help/src/PaintSysStringコマンド.md
  SRC.Sharp.Help/src/SRCのインストール.md
  SRC.Sharp.Help/src/SaveDataコマンド.md
  SRC.Sharp.Help/src/その他の特殊能力(ユニット).md
  SRC.Sharp.Help/src/イベントコマンド.md
  SRC.Sharp.Help/src/スペシャルパワーデータ.md
  SRC.Sharp.Help/src/地形データ.md
  SRC.Sharp.Help/src/戦闘アニメデータ.md
  SRC.Sharp.Help/src/更新履歴(v2.3).md
  SRC.Sharp.Help/src/武器関連特殊能力.md
  SRC.Sharp.Help/src/移動系特殊能力.md
  SRC.Sharp.Help/src/設定変更.md
Labels: none

メニューデータ
  SRC.Sharp.Help/src/_data/menu.yml
Labels: none

メニュー移動
  SRC.Sharp.Help/src/menu.md
Labels: none

menu.md
  SRC.Sharp.Help/src/menu.md
Labels: none

Fix menu
  SRC.Sharp.Help/src/_data/menu.yml
Labels: none

Fix 備忘
  SRC.Sharp.Help/src/index.md
Labels: none

Typo
  SRC.Sharp.Help/src/更新履歴(v2.3).md
Labels: none

Fix link
  SRC.Sharp.Help/src/Execコマンド.md
  SRC.Sharp.Help/src/PaintSysStringコマンド.md
Labels: none

ヘルプに関する備考。
  SRC.Sharp.Help/README.md
  SRC.Sharp.Help/src/_data/menu.yml
  SRC.Sharp.Help/src/menu.md
  SRC.Sharp.Help/src/更新履歴(移植中).md
Labels: none

メインウィンドウの位置＆サイズはこれでいいや
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

取り合えずありのままに起動しておく
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

InitStatus
  SRC.Sharp/SRCSharpForm/Forms/Main.guimap.cs
Labels: SRC#Form

SrcCollection
  SRC.Sharp/SRCCore/VB/SrcCollection.cs
Labels: SRCCore

ErrorMessage
  SRC.Sharp/SRCCore/Units/Unit.otherform.cs
Labels: SRCCore

Handle error
  SRC.Sharp/SRCCore/Units/Unit.anime.cs
Labels: SRCCore

Die
  SRC.Sharp/SRCCore/Units/Unit.action2.cs
Labels: SRCCore

Mode
  SRC.Sharp/SRCCore/Units/Unit.action.cs
Labels: SRCCore

UpdateBaseX/Y
  SRC.Sharp/SRCCore/Expressions/Variable.cs
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.draw.cs
Labels: SRCCore, SRC#Form
