Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

Fix RemoveLineComment
  SRC.Sharp/SRCCore/Extensions/StringExtension.cs
  SRC.Sharp/SRCCore/Lib/SrcEveReader.cs
  SRC.Sharp/SRCCoreTests/Extensions/StringExtensionTests.cs
Labels: SRCCore

RequireCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/RequireCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.label.cs
Labels: SRCCore

Fix Box
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

Fix require
  SRC.Sharp/SRCCore/CmdDatas/CmdArgument.cs
  SRC.Sharp/SRCCore/CmdDatas/CmdData.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/RequireCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/WaitCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/HotPointCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/EventDataLine.cs
  SRC.Sharp/SRCCore/Events/HotPoint.cs
  SRC.Sharp/SRCCore/Events/LabelData.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.cs
Labels: SRCCore, SRC#Form

TODO
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

RenameTermCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/RenameTermCmd.cs
Labels: SRCCore

QuickLoadCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/QuickLoadCmd.cs
Labels: SRCCore

MoneyCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/MoneyCmd.cs
Labels: SRCCore

追加読み込みを切り出し
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/RequireCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

LoadCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/LoadCmd.cs
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

FreeMemoryCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/FreeMemoryCmd.cs
  SRC.Sharp/SRCCore/Units/Units.cs
Labels: SRCCore

ForgetCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/ForgetCmd.cs
Labels: SRCCore

Fix
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/QuickLoadCmd.cs
Labels: SRCCore

MsgBox
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.resx
Labels: SRC#Form

CenterParent
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

クローズ時
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

Enum
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

MsgBox使う
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRC#Form

ボタン調整
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

位置など
  SRC.Sharp/SRCSharpForm/Forms/MsgBox.cs
Labels: SRC#Form

変数入れるコンテナ変えた
  SRC.Sharp/SRCCore/CmdDatas/Commands/Input/AskCmd.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCCore/SRC.save.cs
Labels: SRCCore

RemoveItemCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Item/RemoveItemCmd.cs
Labels: SRCCore

ClearSkillCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/ClearSkillCmd.cs
Labels: SRCCore

ExpUpCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/ExpUpCmd.cs
Labels: SRCCore

GetOffCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/GetOffCmd.cs
Labels: SRCCore

LevelUpCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/IncreaseMoraleCmd.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Pilot/LevelUpCmd.cs
Labels: SRCCore

ClsCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ClsCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
Labels: SRCCore

ExplodeCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/ExplodeCmd.cs
Labels: SRCCore

OvalCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/OvalCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRCCore, SRC#Form

using
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/MonotoneCmd.cs
Labels: SRCCore

Try fix Font読み込み終わってなくてトーフ
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

Fix
  SRC.Sharp/SRCTestBlazor/E2E/cypress/integration/index.js
Labels: SRCTestBlazor

10秒でもちょいちょいタイムアウトする
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
Labels: SRCTestBlazor

Static Web Appsをベースにしておく
  SRC.Sharp/SRCTestBlazor/E2E/cypress.json
Labels: SRCTestBlazor

PSetCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PSetCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRCCore, SRC#Form

PolygonCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Screan/PolygonCmd.cs
  SRC.Sharp/SRCCore/UIInterface/IGUIScrean.cs
  SRC.Sharp/SRCSharpForm/Forms/Main.guiscrean.cs
Labels: SRCCore, SRC#Form

NotImplementedCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/NotImplementedCmd.cs
Labels: SRCCore

ちょっと整理
  SRC.Sharp/SRCCore/TestLib/MockGUI.cs
  SRC.Sharp/SRCCore/UIInterface/IGUI.cs
  SRC.Sharp/SRCSharpForm/SRCSharpFormGUI.cs
Labels: SRCCore, SRC#Form

RenameBGMCmd
  SRC.Sharp/SRCCore/CmdDatas/Commands/Sound/RenameBGMCmd.cs
Labels: SRCCore

Update README.md
  README.md
Labels: none

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*
