Repository 7474/SRC, changes with the labels that .github/labeler.yml gives for each.
All labels: SRCCore, SRC#Form, SRCTestBlazor, SRCDataLinter

.github/labeler.yml:

'SRCCore':
  - SRC.Sharp/SRCCore/**/*
'SRC#Form':
  - SRC.Sharp/SRCSharpForm/**/*
'SRCTestBlazor':
  - SRC.Sharp/SRCTestBlazor/**/*
'SRCDataLinter': 
  - SRC.Sharp/SRCDataLinter/**/*

Update README.md
  terraform/README.md
Labels: none

static_site は 2.60.0 で対応
  terraform/provider.tf
Labels: none

partners
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Commands/Command.unitability.cs
  SRC.Sharp/SRCCore/SRC.play.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.attackmap.cs
Labels: SRCCore

REf partners
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
  SRC.Sharp/SRCCore/Units/Unit.attack.cs
  SRC.Sharp/SRCCore/Units/Unit.attackmap.cs
Labels: SRCCore

TODO いくらか
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

OptionCmd
  SRC.Sharp/SRCCore/CmdDatas/CmdParser.cs
  SRC.Sharp/SRCCore/CmdDatas/Commands/Other/OptionCmd.cs
Labels: SRCCore

SelectDefense
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

TryMapAttack
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Constants.cs
  SRC.Sharp/SRCCore/Units/UnitWeapon.cs
Labels: SRCCore

CountTargetInRange
  SRC.Sharp/SRCCore/COM.cs
Labels: SRCCore

選択範囲なんぼか
  SRC.Sharp/SRCCore/COM.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
  SRC.Sharp/SRCCore/Units/Unit.ability.cs
Labels: SRCCore

AreaInLine
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

AreaInCone
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

AreaInSectorCross
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

AreaInPointToPoint
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

備忘
  SRC.Sharp/SRCCore/CmdDatas/Commands/Map/ChangeTerrainCmd.cs
  SRC.Sharp/SRCCore/Maps/Map.cs
Labels: SRCCore

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

換装コマンド
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Units/Unit.cs
Labels: SRCCore

sそうじ
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
Labels: SRCCore

乗り換え
  SRC.Sharp/SRCCore/Intermissions/Intermission.cs
  SRC.Sharp/SRCCore/Pilots/Pilot.props.cs
Labels: SRCCore

IsAbleToRide
  SRC.Sharp/SRCCore/Pilots/Pilot.unit.cs
Labels: SRCCore

IsSupport
  SRC.Sharp/SRCCore/Pilots/Pilot.unit.cs
Labels: SRCCore

チャージ
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitxxx.cs
  SRC.Sharp/SRCCore/IGUI.cs
  SRC.Sharp/SRCCore/Units/Unit.condition.cs
  SRC.Sharp/SRCCore/Units/Unit.recover.cs
  SRC.Sharp/SRCCore/Units/UnitAbility.cs
Labels: SRCCore

Fix マップ兵器の位置指定を1段階キャンセルした時のマスク範囲がリフレッシュされていない
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

会話
  SRC.Sharp/SRCCore/Commands/Command.process.cs
  SRC.Sharp/SRCCore/Commands/Command.unitxxx.cs
Labels: SRCCore

命令
  SRC.Sharp/SRCCore/Commands/Command.unitxxx.cs
Labels: SRCCore

命令しかけちゅう
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

文字コードは明にUTF-8にしておく。
  SRC.Sharp/SRCCore/Lib/SrcDataReader.cs
  SRC.Sharp/SRCCore/Lib/SrcEveReader.cs
Labels: SRCCore

構文チェック時はデータを読まないようにした。
  SRC.Sharp/SRCCore/Events/Event.data.cs
  SRC.Sharp/SRCCore/Events/Event.props.cs
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCCore, SRCDataLinter

Update README.md
  README.md
Labels: none

fix ask need end.
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

Fix されてなかったAsk
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

外部データ読み込みをスキップするならフォルダの存在なしもスキップする
  SRC.Sharp/SRCCore/Events/Event.data.cs
Labels: SRCCore

Linterの対応ファイルの種類を追加
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCDataLinter

Linterのイメージビルド状態バッジを貼っておく。
  README.md
Labels: none

Fix メッセージデータエラーのメッセージ
  SRC.Sharp/SRCCore/Models/MassageDataList.cs
Labels: SRCCore

Ignore EOF.
  SRC.Sharp/SRCCore/Lib/SrcDataReader.cs
  SRC.Sharp/SRCCore/Lib/SrcEveReader.cs
Labels: SRCCore

未対応ファイルの出力がうるさいのでデバッグに。
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCDataLinter

情報量は増やした
  SRC.Sharp/SRCDataLinter/Program.cs
Labels: SRCDataLinter

ProceedCommandSelect
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore

ProceedCommandSelect
  SRC.Sharp/SRCCore/Commands/Command.process.cs
Labels: SRCCore
